<!doctype html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/slick.css" />

    <link rel="stylesheet" type="text/css" href="css/slick-theme.css" />
    <link rel="stylesheet" href="/css/main.css" crossorigin="anonymous">

    <title></title>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="/js/init.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--[if lt IE 9]>
    <script>
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
    </script>
    <![endif]-->
</head>
<div style="display:none" class="container-reloader">
        <div class="item-1"></div>
        <div class="item-2"></div>
        <div class="item-3"></div>
        <div class="item-4"></div>
        <div class="item-5"></div>
    </div>
<body>
    <div class="wrap short-menu">
        <div class="r-wrap clearfix">
            <div class="content content-main-wrap">
                <div class="top-wraper d-none d-md-block" style="display: none;">
                    <a onclick="return false;" href="#"><i class="top"></i></a>
                </div>
                <div class="all-menu-wrap">
                    <nav class="side-menu-wrap">
                        <div class="side-logo-wrap">
                            <div class="logo">
                                <img class="d-none d-xl-block" src="/img/logo.png" alt="logo.png">
                            </div>
                        </div>
                        <div class="inner-menu-wrap">
                            <div class="search-wrap">
                                <img class="side-icons-search" src="/img/search_icon.svg" alt="search_icon">
                                <input class="d-md-none d-xl-inline" type="text" placeholder="Поиск">
                            </div>
                            <ul id="main-menu">
                                <li><a onclick="return false;" href=""><img class="side-icons" src="/img/bedroom_set_icon.svg"
                                            alt="bedroom_set_icon">
                                        <span>Спальные гарнитуры</span>
                                    </a>
                                    <div class="sub-menu">
                                        <ul>
                                            <li><a href="">Гарнитур</a></li>
                                            <li><a href="">Еще один</a></li>
                                            <li><a href="">Детские</a></li>
                                            <li><a href="">Vegas (Беларусь)</a></li>
                                            <li><a href="">Infinito (Италия)</a></li>
                                        </ul>
                                        <div class="text-center mt-3">
                                            <button class="btn btn-grey btn-sm pl-5 pr-5">Смотреть все</button>
                                        </div>
                                    </div>
                                </li>
                                <li><a onclick="return false;" href=""><img class="side-icons" src="/img/bed_icon.svg"
                                            alt="bed_icon">
                                        <span>Кровати</span>
                                    </a></li>
                                <li><a onclick="return false;" href=""><img class="side-icons" src="/img/on-mattress_icon.svg"
                                            alt="mattress_icon"> <span>Матрасы</span>
                                    </a>
                                    <div class="sub-menu">
                                        <ul>
                                            <li><a href="">Матрас</a></li>
                                            <li><a href="">Дормео</a></li>
                                            <li><a href="">Детские</a></li>
                                            <li><a href="">Vegas (Беларусь)</a></li>
                                            <li><a href="">Infinito (Италия)</a></li>
                                        </ul>
                                        <div class="text-center mt-3">
                                            <button class="btn btn-grey btn-sm pl-5 pr-5">Смотреть все</button>
                                        </div>
                                    </div>
                                </li>
                                <li><a onclick="return false;" href=""><img class="side-icons" src="/img/tumba_icon.svg"
                                            alt="tumba_icon"> <span>
                                            Тумбы и комоды</span>
                                        <div class="hint d-xl-none"><span>Тумбы и комоды</span></div>
                                    </a></li>
                                <li><a onclick="return false;" href=""><img class="side-icons" src="/img/base_icon.svg"
                                            alt="base_icon"> <span>
                                            Ортопедические основания</span>
                                        <div class="hint d-xl-none"><span>Ортопедические основания</span></div>
                                    </a></li>
                                <li><a onclick="return false;" href=""><img class="side-icons" src="/img/matress_icon.svg"
                                            alt="matress_icon"> <span>Наматрасники</span>
                                        <div class="hint d-xl-none"><span>Наматрасники</span></div>
                                    </a>
                                </li>
                                <li><a onclick="return false;" href=""><img class="side-icons" src="/img/pillow_icon.svg"
                                            alt="pillow_icon"> <span>Подушки</span>
                                        <div class="hint d-xl-none"><span>Подушки</span></div>
                                    </a>
                                </li>
                                <li><a onclick="return false;" href=""><img class="side-icons" src="/img/accessorize_icon.svg"
                                            alt="accessorize_icon">
                                        <span>Аксессуары для сна</span>
                                        <div class="hint d-xl-none"><span>Аксессуары для сна</span></div>
                                    </a></li>
                                <li><a onclick="return false;" href=""><img class="side-icons" src="/img/carpet_icon.svg"
                                            alt="carpet_icon"> <span>Ковры</span>
                                        <div class="hint d-xl-none"><span>Ковры</span></div>
                                    </a></li>
                                <li><a onclick="return false;" href=""><img class="side-icons" src="/img/light_icon.svg"
                                            alt="light_icon"> <span>Свет</span>
                                        <div class="hint d-xl-none"><span>Свет</span></div>
                                    </a></li>
                                <li><a onclick="return false;" href=""><img class="side-icons" src="/img/sale_icon.svg"
                                            alt="sale_icon"> <span>Акции</span>
                                        <div class="hint d-xl-none"><span>Акции</span></div>
                                    </a></li>
                                <li><a class="mm" href=""> <span class="d-inline d-sm-inline d-md-none">Доставка и
                                            оплата</span></a>
                                </li>
                                <li><a class="mm" href=""> <span class="d-inline d-sm-inline d-md-none">Салоны</span></a></li>
                                <li><a class="mm" href=""> <span class="d-inline d-sm-inline d-md-none">Личный кабинет</span></a></li>
                                <li><a class="mm" href=""> <span class="d-inline d-sm-inline d-md-none">О нас</span></a></li>
                            </ul>
                            <div class="mob-lang text-center">
                                <span class="d-inline d-sm-inline d-md-none"><a class="select" href="#">Русский</a></span>
                                <span class="d-inline d-sm-inline d-md-none"><a href="#">Украинский</a></span>
                            </div>
                        </div>
                    </nav>
                    <nav class="side-second-menu-wrap d-none d-lg-block">
                        <div class="title"></div>
                        <i class="close-i"></i>
                        <div class="clearfix"></div>
                        <div class="sub-menu"></div>
                    </nav>
                </div>
                <div class="header-wrap">
                    <div class="humburger-wrap d-lg-none">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="side-logo-wrap d-none d-md-inline-block">
                        <div class="logo">
                            <img class="" src="/img/logo.png" alt="logo.png">
                        </div>
                    </div>
                    <div class="phone-wrap d-none d-xl-inline-block">
                        <div class="phone-title text-light-c d-none d-xl-inline-block">Бесплатная линия</div>
                        <div class="phone">0 800 604 597</div>
                    </div>
                    <div class="shedule-wrapp d-none d-xl-inline-block">
                        <div class="text-light-c">09:00-20:00 (будние)</div>
                        <div class="text-light-c">10:00-18:00 (выходные)</div>
                    </div>
                    <ul class="head-menu d-none d-lg-inline-block">
                        <li><a class="d-none d-lg-inline" href="#">О нас</a></li>
                        <li><a class="d-none d-lg-inline" href="#">Магазины</a></li>
                        <li><a href="#">Доставка и оплата</a></li>
                    </ul>
                    <div class="icons-wrap">
                        <div class="lang-swich-wrap d-none d-lg-block">
                            <span><a href="#">UA</a></span>
                            <span><a class="active" href="#">RU</a></span>
                        </div>
                        <i class="favorit close"></i>
                        <img class="d-sm-none" src="/img/lg_m.png" alt="logo_m.png">
                        <i class="favorit shopping_bag_icon"><span>0</span></i>
                        <i class="favorit favorite_i"><span>1</span></i>
                        <i class="favorit compare_icon"></i>
                        <i class="favorit user_icon d-none d-md-inline-block"></i>
                    </div>
                </div>
                <nav class="breadcrumb-wrap" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Bed4you</a></li>
                        <li class="breadcrumb-item active">Статьи</li>
                    </ol>
                </nav>

                <div class="row news">
                    <div class="full">
                        <div class="col-xl-11">
                            <h1 class="title">Статьи</h1>
                        </div>
                        <nav class="blue-menu">
                            <ul class="clearfix">
                                <li><a href="">Все статьи</a></li>
                                <li><a href="">Это полезно знать</a></li>
                                <li><a href="">Интерьер</a></li>
                                <li><a href="">Обзор мебели</a></li>
                                <li><a href="">Тренды</a></li>
                            </ul>
                        </nav>
                        <div class="article-wrap clearfix">
                            <div class="item-wrap">
                                <div class="img-wrap">
                                    <img src="/img/news.png" alt="news">
                                    <div class="label">Это полезно знать</div>
                                </div>
                                <div class="text-wrap">
                                    <div class="title"><a href="#">Как выбрать кровать?</a></div>
                                    <div class="short-text">
                                        Современный рынок мебельной продукции богат и разнообразен, поэтому у
                                        покупателя может
                                        возникнуть
                                        множество вопросов при выборе подходящей кровати.
                                    </div>
                                </div>

                            </div>
                            <div class="item-wrap">
                                <div class="img-wrap">
                                    <img src="/img/news.png" alt="news">
                                    <div class="label">Это полезно знать</div>
                                </div>
                                <div class="text-wrap">
                                    <div class="title"><a href="#">Как выбрать кровать?</a></div>
                                    <div class="short-text">
                                        Современный рынок мебельной продукции богат и разнообразен, поэтому у
                                        покупателя может
                                        возникнуть
                                        множество вопросов при выборе подходящей кровати.
                                    </div>
                                </div>

                            </div>
                            <div class="item-wrap">
                                <div class="img-wrap">
                                    <img src="/img/news.png" alt="news">
                                    <div class="label">Это полезно знать</div>
                                </div>
                                <div class="text-wrap">
                                    <div class="title"><a href="#">Как выбрать кровать?</a></div>
                                    <div class="short-text">
                                        Современный рынок мебельной продукции богат и разнообразен, поэтому у
                                        покупателя может
                                        возникнуть
                                        множество вопросов при выборе подходящей кровати.
                                    </div>
                                </div>

                            </div>
                            <div class="item-wrap">
                                <div class="img-wrap">
                                    <img src="/img/news.png" alt="news">
                                    <div class="label">Это полезно знать</div>
                                </div>
                                <div class="text-wrap">
                                    <div class="title"><a href="#">Как выбрать кровать?</a></div>
                                    <div class="short-text">
                                        Современный рынок мебельной продукции богат и разнообразен, поэтому у
                                        покупателя может
                                        возникнуть
                                        множество вопросов при выборе подходящей кровати.
                                    </div>
                                </div>

                            </div>
                            <div class="item-wrap">
                                <div class="img-wrap">
                                    <img src="/img/news.png" alt="news">
                                    <div class="label">Это полезно знать</div>
                                </div>
                                <div class="text-wrap">
                                    <div class="title"><a href="#">Как выбрать кровать?</a></div>
                                    <div class="short-text">
                                        Современный рынок мебельной продукции богат и разнообразен, поэтому у
                                        покупателя может
                                        возникнуть
                                        множество вопросов при выборе подходящей кровати.
                                    </div>
                                </div>

                            </div>
                            <div class="item-wrap">
                                <div class="img-wrap">
                                    <img src="/img/news.png" alt="news">
                                    <div class="label">Это полезно знать</div>
                                </div>
                                <div class="text-wrap">
                                    <div class="title"><a href="#">Как выбрать кровать?</a></div>
                                    <div class="short-text">
                                        Современный рынок мебельной продукции богат и разнообразен, поэтому у
                                        покупателя может
                                        возникнуть
                                        множество вопросов при выборе подходящей кровати.
                                    </div>
                                </div>

                            </div>
                            <div class="item-wrap">
                                <div class="img-wrap">
                                    <img src="/img/news.png" alt="news">
                                    <div class="label">Это полезно знать</div>
                                </div>
                                <div class="text-wrap">
                                    <div class="title"><a href="#">Как выбрать кровать?</a></div>
                                    <div class="short-text">
                                        Современный рынок мебельной продукции богат и разнообразен, поэтому у
                                        покупателя может
                                        возникнуть
                                        множество вопросов при выборе подходящей кровати.
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row justify-content-center subscription-wrap">
                    <div class="col-xs-auto">
                        <label>Узнайте первыми о распродажах и новинках!</label>
                        <input type="text" placeholder="Ваша электронная почта">
                        <button class="btn btn-sm btn-blue">Подписаться</button>
                    </div>
                </div>
            </div>
            <!-- ############  end content ##################-->
            <footer>
                <div class="footer-wrap">
                    <div class="row">
                        <div class="col-6 col-lg-3">
                            <img src="/img/logo.png" alt="logo">
                            <div class="phone-footer-wrap">
                                <div class="text">09:00-20:00 (будни)</div>
                                <div class="text">10:00-18:00 (выходные)</div>
                                <div class="phone">0 800 604 597</div>
                                <div class="text">Бесплатная линия</div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 socials">
                            <h6 class="title">Мы в соцсетях</h6>
                            <ul>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Instagram</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">YouTube</a></li>
                            </ul>
                            <h6>Обратный звонок</h6>
                        </div>
                        <div class="col-6 col-lg-3 pay">
                            <h6 class="title">Способы оплаты</h6>
                            <ul>
                                <li><a href="#">Приват 24</a></li>
                                <li><a href="#">Viza</a></li>
                                <li><a href="#">Mastercard</a></li>
                                <li><a href="#">LiqPay</a></li>
                            </ul>
                            <h6 class="title">Отзывы о нас</h6>
                        </div>
                        <div class="col-6 col-lg-3 other">
                            <ul>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">О компании</a></li>
                                <li><a href="#">Сертификаты</a></li>
                                <li><a href="#">Контакты</a></li>
                                <li><a href="#">Статьи</a></li>
                                <li><a href="#">Условия гарантии</a></li>
                                <li><a href="#">Правила эксплкатации</a></li>
                                <li><a href="#">Политика конфиденциальности</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="text-center cop">2018 ООО "Вегас Украина"</div>
            </footer>
        </div>

    </div>
</body>

</html>