<!doctype html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/slick.css" />

    <link rel="stylesheet" type="text/css" href="css/slick-theme.css" />

    <title></title>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!--[if lt IE 9]>
    <script>
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
    </script>
    <![endif]-->
</head>

<body>
    <div class="wrap short-menu cat">
        <div class="top-wraper d-none d-md-block" style="display: none;">
            <a onclick="return false;" href="#"><i class="top"></i></a>
        </div>
        <div class="r-wrap">
            <div class="all-menu-wrap">
                <nav class="side-menu-wrap">
                    <div class="side-logo-wrap">
                        <div class="logo">
                            <img class="d-none d-xl-block" src="/img/logo.png" alt="logo.png">
                        </div>
                    </div>
                    <div class="inner-menu-wrap">
                        <div class="search-wrap">
                            <img class="side-icons-search" src="/img/search_icon.svg" alt="search_icon">
                            <input class="d-xl-inline" type="text" placeholder="Поиск">
                        </div>
                        <ul id="main-menu">
                            <li><a onclick="return false;" href=""><img class="side-icons"
                                        src="/img/bedroom_set_icon.svg" alt="bedroom_set_icon">
                                    <span>Спальные гарнитуры</span>
                                </a>
                                <div class="sub-menu">
                                    <ul>
                                        <li><a onclick="return false;" href="">Гарнитур</a></li>
                                        <li><a href="">Еще один</a></li>
                                        <li><a href="">Детские</a></li>
                                        <li><a href="">Vegas (Беларусь)</a></li>
                                        <li><a href="">Infinito (Италия)</a></li>
                                    </ul>
                                    <div class="text-center mt-3">
                                        <button class="btn btn-grey btn-sm pl-5 pr-5">Смотреть все</button>
                                    </div>
                                </div>
                            </li>
                            <li><a onclick="return false;" href=""><img class="side-icons" src="/img/bed_icon.svg"
                                        alt="bed_icon">
                                    <span>Кровати</span>
                                </a></li>
                            <li class="active"><a onclick="return false;" href=""><img class="side-icons"
                                        src="/img/on-mattress_icon.svg" alt="mattress_icon"> <span>Матрасы</span>
                                </a>
                                <div class="sub-menu">
                                    <ul>
                                        <li><a href="">Матрас</a></li>
                                        <li><a href="">Дормео</a></li>
                                        <li><a href="">Детские</a></li>
                                        <li><a href="">Vegas (Беларусь)</a></li>
                                        <li><a href="">Infinito (Италия)</a></li>
                                    </ul>
                                    <div class="text-center mt-3">
                                        <button class="btn btn-grey btn-sm pl-5 pr-5">Смотреть все</button>
                                    </div>
                                </div>
                            </li>
                            <li><a onclick="return false;" href=""><img class="side-icons" src="/img/tumba_icon.svg"
                                        alt="tumba_icon"> <span>
                                        Тумбы и комоды</span>
                                    <div class="hint d-xl-none"><span>Тумбы и комоды</span></div>
                                </a></li>
                            <li><a onclick="return false;" href=""><img class="side-icons" src="/img/base_icon.svg"
                                        alt="base_icon">
                                    <span>
                                        Ортопедические основания</span>
                                    <div class="hint d-xl-none"><span>Ортопедические основания</span></div>
                                </a></li>
                            <li><a onclick="return false;" href=""><img class="side-icons" src="/img/matress_icon.svg"
                                        alt="matress_icon"> <span>Наматрасники</span>
                                    <div class="hint d-xl-none"><span>Наматрасники</span></div>
                                </a>
                            </li>
                            <li><a onclick="return false;" href=""><img class="side-icons" src="/img/pillow_icon.svg"
                                        alt="pillow_icon"> <span>Подушки</span>
                                    <div class="hint d-xl-none"><span>Подушки</span></div>
                                </a>
                            </li>
                            <li><a onclick="return false;" href=""><img class="side-icons"
                                        src="/img/accessorize_icon.svg" alt="accessorize_icon">
                                    <span>Аксессуары для сна</span>
                                    <div class="hint d-xl-none"><span>Аксессуары для сна</span></div>
                                </a></li>
                            <li><a onclick="return false;" href=""><img class="side-icons" src="/img/carpet_icon.svg"
                                        alt="carpet_icon"> <span>Ковры</span>
                                    <div class="hint d-xl-none"><span>Ковры</span></div>
                                </a></li>
                            <li><a onclick="return false;" href=""><img class="side-icons" src="/img/light_icon.svg"
                                        alt="light_icon"> <span>Свет</span>
                                    <div class="hint d-xl-none"><span>Свет</span></div>
                                </a></li>
                            <li><a onclick="return false;" href=""><img class="side-icons" src="/img/sale_icon.svg"
                                        alt="sale_icon">
                                    <span>Акции</span>
                                    <div class="hint d-xl-none"><span>Акции</span></div>
                                </a></li>
                            <li><a class="mm" href=""> <span class="d-inline d-sm-inline d-md-none">Доставка и
                                        оплата</span></a>
                            </li>
                            <li><a class="mm" href=""> <span class="d-inline d-sm-inline d-md-none">Салоны</span></a>
                            </li>
                            <li><a class="mm" href=""> <span class="d-inline d-sm-inline d-md-none">Личный
                                        кабинет</span></a></li>
                            <li><a class="mm" href=""> <span class="d-inline d-sm-inline d-md-none">О нас</span></a>
                            </li>
                        </ul>
                        <div class="mob-lang text-center">
                            <span class="d-inline d-sm-inline d-md-none"><a class="select" href="#">Русский</a></span>
                            <span class="d-inline d-sm-inline d-md-none"><a href="#">Украинский</a></span>
                        </div>
                    </div>
                </nav>
                <nav class="side-second-menu-wrap d-none d-lg-block">
                    <div class="title"></div>
                    <i class="close-i"></i>
                    <div class="clearfix"></div>
                    <div class="sub-menu"></div>
                </nav>
            </div>
            <div class="content content-main-wrap">
                <div class="header-wrap">
                    <div class="side-logo-wrap d-none d-md-inline-block">
                        <div class="logo">
                            <img class="" src="/img/logo.png" alt="logo.png">
                        </div>
                    </div>
                    <div class="phone-wrap d-none d-xl-inline-block">
                        <div class="phone-title text-light-c d-none d-xl-inline-block">Бесплатная линия</div>
                        <div class="phone">0 800 604 597</div>
                    </div>
                    <div class="shedule-wrapp d-none d-xl-inline-block">
                        <div class="text-light-c">09:00-20:00 (будние)</div>
                        <div class="text-light-c">10:00-18:00 (выходные)</div>
                    </div>
                    <ul class="head-menu d-none d-lg-inline-block">
                        <li><a class="d-none d-lg-inline" href="#">О нас</a></li>
                        <li><a class="d-none d-lg-inline" href="#">Магазины</a></li>
                        <li><a href="#">Доставка и оплата</a></li>
                    </ul>
                    <div class="icons-wrap">
                        <div class="lang-swich-wrap d-none d-lg-block">
                            <span><a href="#">UA</a></span>
                            <span><a class="active" href="#">RU</a></span>
                        </div>
                        <i class="favorit close"></i>
                        <i class="favorit hanburger d-lg-none"></i>
                        <img class="d-sm-none" src="/img/lg_m.png" alt="logo_m.png">
                        <i class="favorit shopping_bag_icon"><span>0</span></i>
                        <i class="favorit favorite_i"><span>1</span></i>
                        <i class="favorit compare_icon"></i>
                        <i class="favorit user_icon d-none d-md-inline-block"></i>
                    </div>
                </div>

                <nav class="breadcrumb-wrap" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Матрасы</li>
                    </ol>
                </nav>
                <div id="iframe"></div>
                <div class="commets-wrap">
                    <div class="title">
                        <div class="comment-title-main">
                            <h4>Отзывы</h4>
                        </div>
                    </div>
                    <div class="filters-wrap clearfix">
                        <div class="text-center float-sm-left">
                            <button id="left-feedback"
                                class="btn btn-blue btn-sm mt-2 pl-sm-3 pr-sm-4 ml-sm-5 mt-sm-3 mb-sm-3 mt-sm-0">Написать
                                отзыв</button>
                        </div>

                        <div class="f2 float-sm-right text-center">
                            <div class="btn-group">
                                <button class="btn btn-outline-secondary btn-sm vg-filter rounded" id="group"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">
                                    За последние 3 месяца
                                </button>
                                <div class="dropdown-menu keep_open" aria-labelledby="group">
                                    <div class="form-group">
                                        <div class="form-check check-fly">
                                            <input class="form-check-input" value="1" name="radio1" type="radio"
                                                id="lr4" checked="">
                                            <label for="lr4"></label>
                                            <label class="col-form-label" for="lr4">За неделю</label>
                                        </div>
                                        <div class="form-check check-fly">
                                            <input class="form-check-input" value="2" name="radio1" type="radio"
                                                id="lr5">
                                            <label for="lr5"></label>
                                            <label class="col-form-label" for="lr5">За день</label>
                                        </div>
                                        <div class="form-check check-fly">
                                            <input class="form-check-input" value="3" name="radio1" type="radio"
                                                id="lr6">
                                            <label for="lr6"></label>
                                            <label class="col-form-label" for="lr6">За месяц</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 form-block">
                        <div class="form-wrap clearfix">
                            <div class="title">Поставьте оценку</div>
                            <form action="">
                                <div class="row">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="rate-rating clearfix">
                                            <div class="name-description">
                                                <label for="AddProductReview.Rating">Консультация:</label>
                                            </div>
                                            <div class="rating-wrapper">
                                                <div id="reviewSmile-input">
                                                    <input id="smile-4" type="radio" name="reviewSmile">
                                                    <label title="gorgeous" for="smile-4"></label>

                                                    <input id="smile-3" type="radio" name="reviewSmile">
                                                    <label title="good" for="smile-3"></label>

                                                    <input id="smile-2" type="radio" name="reviewSmile">
                                                    <label title="regular" for="smile-2"></label>

                                                    <input id="smile-1" type="radio" name="reviewSmile">
                                                    <label title="poor" for="smile-1"></label>

                                                    <input id="smile-0" type="radio" name="reviewSmile">
                                                    <label title="bad" for="smile-0"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rate-rating clearfix">
                                            <div class="name-description">
                                                <label for="AddProductReview.Rating">Оформление через интернет:</label>
                                            </div>
                                            <div class="rating-wrapper">
                                                <div id="reviewSmile-input">
                                                    <input id="smile-4" type="radio" name="reviewSmile">
                                                    <label title="gorgeous" for="smile-4"></label>

                                                    <input id="smile-3" type="radio" name="reviewSmile">
                                                    <label title="good" for="smile-3"></label>

                                                    <input id="smile-2" type="radio" name="reviewSmile">
                                                    <label title="regular" for="smile-2"></label>

                                                    <input id="smile-1" type="radio" name="reviewSmile">
                                                    <label title="poor" for="smile-1"></label>

                                                    <input id="smile-0" type="radio" name="reviewSmile">
                                                    <label title="bad" for="smile-0"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rate-rating clearfix">
                                            <div class="name-description">
                                                <label for="AddProductReview.Rating">Оформление заказа в салоне:</label>
                                            </div>
                                            <div class="rating-wrapper">
                                                <div id="reviewSmile-input">
                                                    <input id="smile-4" type="radio" name="reviewSmile">
                                                    <label title="gorgeous" for="smile-4"></label>

                                                    <input id="smile-3" type="radio" name="reviewSmile">
                                                    <label title="good" for="smile-3"></label>

                                                    <input id="smile-2" type="radio" name="reviewSmile">
                                                    <label title="regular" for="smile-2"></label>

                                                    <input id="smile-1" type="radio" name="reviewSmile">
                                                    <label title="poor" for="smile-1"></label>

                                                    <input id="smile-0" type="radio" name="reviewSmile">
                                                    <label title="bad" for="smile-0"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rate-rating clearfix">
                                            <div class="name-description">
                                                <label for="AddProductReview.Rating">Доставка:</label>
                                            </div>
                                            <div class="rating-wrapper">
                                                <div id="reviewSmile-input">
                                                    <input id="smile-4" type="radio" name="reviewSmile">
                                                    <label title="gorgeous" for="smile-4"></label>

                                                    <input id="smile-3" type="radio" name="reviewSmile">
                                                    <label title="good" for="smile-3"></label>

                                                    <input id="smile-2" type="radio" name="reviewSmile">
                                                    <label title="regular" for="smile-2"></label>

                                                    <input id="smile-1" type="radio" name="reviewSmile">
                                                    <label title="poor" for="smile-1"></label>

                                                    <input id="smile-0" type="radio" name="reviewSmile">
                                                    <label title="bad" for="smile-0"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rate-rating clearfix">
                                            <div class="name-description">
                                                <label for="AddProductReview.Rating">Сборка:</label>
                                            </div>
                                            <div class="rating-wrapper">
                                                <div id="reviewSmile-input">
                                                    <input id="smile-4" type="radio" name="reviewSmile">
                                                    <label title="gorgeous" for="smile-4"></label>

                                                    <input id="smile-3" type="radio" name="reviewSmile">
                                                    <label title="good" for="smile-3"></label>

                                                    <input id="smile-2" type="radio" name="reviewSmile">
                                                    <label title="regular" for="smile-2"></label>

                                                    <input id="smile-1" type="radio" name="reviewSmile">
                                                    <label title="poor" for="smile-1"></label>

                                                    <input id="smile-0" type="radio" name="reviewSmile">
                                                    <label title="bad" for="smile-0"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6 mt-md-3 mt-lg-0">
                                        <div class="title">Рекомендуете ли Вы наш магазин?</div>
                                        <div class="form-check-inline">
                                            <div class="form-check check-fly">
                                                <input class="form-check-input" value="1" name="radiorec" type="radio"
                                                    id="recomed1" checked="">
                                                <label for="recomed1"></label>
                                                <label class="col-form-label green" for="recomed1">Рекомендую</label>
                                            </div>
                                            <div class="form-check check-fly">
                                                <input class="form-check-input" value="1" name="radiorec" type="radio"
                                                    id="recomed2">
                                                <label for="recomed2"></label>
                                                <label class="col-form-label grey" for="recomed2">Воздержусь</label>
                                            </div>
                                            <div class="form-check check-fly">
                                                <input class="form-check-input" value="1" name="radiorec" type="radio"
                                                    id="recomed3">
                                                <label for="recomed3"></label>
                                                <label class="col-form-label red" for="recomed3">Не рекомендую</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-form mt-md-5">
                                    <div class="title">Коментарий к заказу</div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <textarea rows="6" class="form-control" name="" id=""></textarea>
                                            <button class="mt-5 pl-5 pr-5 btn btn-blue float-md-right">Оставить
                                                отзыв</button>
                                        </div>
                                        <div class="col-md-4 mt-4 mt-sm-0">
                                            <span class="red">*Запрещено</Span> включать в отзывы рекламную информацию,
                                            копировать материалы из
                                            других источников, использовать оскорбительные выражения и бранную лексику.
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="col-md-12 col-lg-12 col-xl-10 commets-block">

                        <div class="diagram-wrapp">
                            <div class="row">
                                <div class="col-md-12 col-lg-8 total-diagram">
                                    <div class="title mb-4">ИТОГОВАЯ ДИАГРАММА за последние 3 месяца</div>
                                    <div class="item-wrapp">
                                        <div class="item-title">Консультация</div>
                                        <div class="item-line-wrapp" data-persent='["65%", "30%", "5%"]'>
                                            <div class="item-line">30%</div>
                                            <div class="item-line">65%</div>
                                            <div class="item-line">5%</div>
                                        </div>
                                    </div>
                                    <div class="item-wrapp">
                                        <div class="item-title">Оформление через интернет</div>
                                        <div class="item-line-wrapp" data-persent='["50%", "30%", "20%"]'>
                                            <div class="item-line">30%</div>
                                            <div class="item-line">50%</div>
                                            <div class="item-line">20%</div>
                                        </div>
                                    </div>
                                    <div class="item-wrapp">
                                        <div class="item-title">Оформление заказа в салоне</div>
                                        <div class="item-line-wrapp">
                                            <div class="item-line">70</div>
                                            <div class="item-line">20</div>
                                            <div class="item-line">10</div>
                                        </div>
                                    </div>
                                    <div class="item-wrapp">
                                        <div class="item-title">Доставка</div>
                                        <div class="item-line-wrapp">
                                            <div class="item-line">15</div>
                                            <div class="item-line">25</div>
                                            <div class="item-line">60</div>
                                        </div>
                                    </div>
                                    <div class="item-wrapp">
                                        <div class="item-title">Сборка</div>
                                        <div class="item-line-wrapp">
                                            <div class="item-line">30</div>
                                            <div class="item-line">30</div>
                                            <div class="item-line">40</div>
                                        </div>
                                    </div>
                                    <div class="item-wrapp">
                                        <div class="item-title">Рекомендуют ли нас</div>
                                        <div class="item-line-wrapp">
                                            <div class="item-line">30</div>
                                            <div class="item-line">30</div>
                                            <div class="item-line">40</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-none d-lg-block total-rate">
                                    <div class="col-12">
                                        <div class="title mb-4">ИТОГОВЫЕ ОЦЕНКИ на основе отзывов</div>
                                    </div>
                                    <div class="col-8">
                                        <div class="item-wrapp clearfix">
                                            <div class="item-title float-left">Позитивные</div>
                                            <div class="item-rate float-right">100</div>
                                        </div>
                                        <div class="item-wrapp clearfix">
                                            <div class="item-title float-left">Нейтральные</div>
                                            <div class="item-rate float-right">60</div>
                                        </div>
                                        <div class="item-wrapp clearfix">
                                            <div class="item-title float-left">Негативные</div>
                                            <div class="item-rate float-right">20</div>
                                        </div>
                                        <div class="item-wrapp clearfix">
                                            <div class="item-title float-left">Все отзывы</div>
                                            <div class="item-rate float-right">180</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-items">
                            <ul>
                                <li class="list">
                                    <div class="clearfix">
                                        <div class="info-wrap float-md-left mb-4 mb-sm-0">
                                            <div class="no-avatar float-left d-none d-sm-block"><img
                                                    src="/img/no_avatar.png" alt="no_avatar.png"></div>
                                            <div class="info float-md-left">
                                                <div class="name">John</div>
                                                <div class="date">26.11.2018 14:39</div>
                                                <div class="dropdown">
                                                    <button class="btn btn-link dropdown-toggle pen" type="button"
                                                        id="dropdownRecomend" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <span class="green">Рекомендую</span>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownRecomend">
                                                        <a class="dropdown-item" href="#"><span
                                                                class="grey">Воздержусь</span></a>
                                                        <a class="dropdown-item" href="#"><span class="red">Не
                                                                рекомендую</span></a>
                                                    </div>
                                                </div>
                                                <div class="more">Подробнее</div>
                                            </div>
                                        </div>
                                        <div class="text-wrap">
                                            Лорем ипсум долор сит амет, но либер нумяуам дебитис ест, еам яуод аперири
                                            продессет ан. Меа еу проприае цотидиеяуе цонсеяуунтур. Ан суммо промпта
                                            репудиаре пер, не иуварет лаборес праесент сит, тота модус фиерент цум не.
                                            Еос
                                            ет яуандо нонумес, усу ерос нонумы фиерент те, еурипидис мнесарчум ад меа.
                                        </div>
                                    </div>
                                    <div class="user-rate-items">
                                        <div class="d-flex justify-content-around">
                                            <div class="col-md-12">
                                                <div class="col-md-6 col-lg-auto">
                                                    <div class="row">
                                                        <div class="user-rate-item">
                                                            <div class="sprite-smile angry"></div>
                                                            <div class="item-title">Консультация</div>
                                                        </div>
                                                        <div class="user-rate-item">
                                                            <div class="sprite-smile netral"></div>
                                                            <div class="item-title">Оформление чере интернет</div>
                                                        </div>
                                                        <div class="user-rate-item">
                                                            <div class="sprite-smile sad"></div>
                                                            <div class="item-title">Оформление заказа в салоне</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-lg-auto ">
                                                    <div class="row">
                                                        <div class="user-rate-item">
                                                            <div class="sprite-smile good"></div>
                                                            <div class="item-title">Доставка</div>
                                                        </div>
                                                        <div class="user-rate-item">
                                                            <div class="sprite-smile perfect"></div>
                                                            <div class="item-title">Сборка</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li class="list">
                                    <div class="clearfix">
                                        <div class="info-wrap float-md-left mb-4 mb-sm-0">
                                            <div class="no-avatar float-left  d-none d-sm-block"><img
                                                    src="/img/no_avatar.png" alt="no_avatar.png"></div>
                                            <div class="info float-md-left">
                                                <div class="name">John</div>
                                                <div class="date">26.11.2018 14:39</div>
                                                <div class="dropdown">
                                                    <button class="btn btn-link dropdown-toggle" type="button"
                                                        id="dropdownRecomend" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <span class="green">Рекомендую</span>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownRecomend">
                                                        <a class="dropdown-item" href="#"><span
                                                                class="grey">Воздержусь</span></a>
                                                        <a class="dropdown-item" href="#"><span class="red">Не
                                                                рекомендую</span></a>
                                                    </div>
                                                </div>
                                                <div class="more btn btn-link">Подробнее</div>
                                            </div>
                                        </div>
                                        <div class="text-wrap">
                                            Лорем ипсум долор сит амет, но либер нумяуам дебитис ест, еам яуод аперири
                                            продессет ан. Меа еу проприае цотидиеяуе цонсеяуунтур. Ан суммо промпта
                                            репудиаре пер, не иуварет лаборес праесент сит, тота модус фиерент цум не.
                                            Еос
                                            ет яуандо нонумес, усу ерос нонумы фиерент те, еурипидис мнесарчум ад меа.
                                        </div>
                                    </div>

                                    <ul>
                                        <li class="list">
                                            <div class="clearfix">
                                                <div class="info-wrap float-md-left mb-4 mb-sm-0">
                                                    <div class="no-avatar float-md-left d-none d-sm-block"><img
                                                            src="/img/admin_avatar.png" alt="admin_avatar.png"></div>
                                                    <div class="info float-md-left">
                                                        <div class="name">Представитель магазина</div>
                                                        <div class="date">26.11.2018 14:39</div>
                                                    </div>
                                                </div>
                                                <div class="text-wrap">
                                                    Лорем ипсум долор сит амет, но либер нумяуам дебитис ест, еам яуод
                                                    аперири
                                                    продессет ан. Меа еу проприае цотидиеяуе цонсеяуунтур. Ан суммо
                                                    промпта
                                                    репудиаре пер, не иуварет лаборес праесент сит, тота модус фиерент
                                                    цум
                                                    не. Еос
                                                    ет яуандо нонумес, усу ерос нонумы фиерент те, еурипидис мнесарчум
                                                    ад
                                                    меа.
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="row justify-content-md-center subscription-wrap">
                    <div class="col-lg-auto">
                        <label>Узнайте первыми о распродажах и новинках!</label>
                        <input type="text" placeholder="Ваша электронная почта">
                        <button class="btn btn-sm btn-blue">Подписаться</button>
                    </div>
                </div>
            </div>
            <footer>
                <div class="footer-wrap">
                    <div class="row">
                        <div class="col-lg-3 d-none d-md-block">
                            <img src="/img/logo.png" alt="logo">
                            <div class="phone-footer-wrap">
                                <div class="text">09:00-20:00 (будни)</div>
                                <div class="text">10:00-18:00 (выходные)</div>
                                <div class="phone">0 800 604 597</div>
                                <div class="text">Бесплатная линия</div>
                            </div>
                        </div>
                        <div class="col-lg-3 socials d-none d-md-block">
                            <h6 class="title">Мы в соцсетях</h6>
                            <ul>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Instagram</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">YouTube</a></li>
                            </ul>
                            <h6>Обратный звонок</h6>
                        </div>
                        <div class="col-lg-3 pay d-none d-md-block">
                            <h6 class="title">Способы оплаты</h6>
                            <ul>
                                <li><a href="#">Приват 24</a></li>
                                <li><a href="#">Viza</a></li>
                                <li><a href="#">Mastercard</a></li>
                                <li><a href="#">LiqPay</a></li>
                            </ul>
                            <h6 class="title">Отзывы о нас</h6>
                        </div>
                        <div class="col-lg-3 other">
                            <ul>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">О компании</a></li>
                                <li><a href="#">Сертификаты</a></li>
                                <li><a href="#">Контакты</a></li>
                                <li><a href="#">Статьи</a></li>
                                <li><a href="#">Условия гарантии</a></li>
                                <li><a href="#">Правила эксплкатации</a></li>
                                <li><a href="#">Политика конфиденциальности</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="text-center cop">2018 ООО "Вегас Украина"</div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/bootstrap.bundle.js" crossorigin="anonymous"></script>
    <script src="/js/tp.js"></script>
    <script src="js/jquery.mousewheel.min.js" crossorigin="anonymous"></script>
    <script src="js/jquery.kinetic.min.js" crossorigin="anonymous"></script>
    <script src="js/jquery.smoothdivscroll-1.3-min.js" crossorigin="anonymous"></script>
    <script src="/js/init.js" crossorigin="anonymous"></script>

</body>

</html>