<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/slick.css"/>

    <link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
    <link rel="stylesheet" href="/css/main.css" crossorigin="anonymous">

    <title></title>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="/js/init.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--[if lt IE 9]>
    <script>
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
    </script>
    <![endif]-->
</head>
<body>
<div class="wrap short-menu news">
    <div class="r-wrap clearfix">
        <div class="content content-main-wrap">
            <div class="top-wraper d-none d-md-block" style="display: none;">
                <a onclick="return false;" href="#"><i class="top"></i></a>
            </div>
            <div class="all-menu-wrap">
                <nav class="side-menu-wrap d-md-block">
                    <div class="inner-menu-wrap">
                        <div class="search-wrap">
                            <img class="side-icons-search" src="/img/search_icon.svg" alt="search_icon">
                            <input class="d-md-none d-xl-inline" type="text" placeholder="Поиск">
                        </div>
                        <ul>
                            <li><a onclick="return false;" href=""><img class="side-icons"
                                                                        src="/img/bedroom_set_icon.svg"
                                                                        alt="bedroom_set_icon">
                                <span class="d-inline d-sm-inline d-md-none d-xl-inline">Спальные гарнитуры</span>
                                <div class="hint d-xl-none"><span>Спальные гарнитуры</span></div>
                            </a>
                                <ul class="d-none sub-menu">
                                    <li><a href="">Гарнитур</a></li>
                                    <li><a href="">Еще один</a></li>
                                    <li><a href="">Детские</a></li>
                                    <li><a href="">Vegas (Беларусь)</a></li>
                                    <li><a href="">Infinito (Италия)</a></li>
                                </ul>
                            </li>
                            <li><a onclick="return false;" href=""><img class="side-icons" src="/img/bed_icon.svg"
                                                                        alt="bed_icon">
                                <span class="d-inline d-sm-inline d-md-none d-xl-inline">Кровати</span>
                                <div class="hint d-xl-none"><span>Кровати</span></div>
                            </a></li>
                            <li><a onclick="return false;" href=""><img class="side-icons"
                                                                        src="/img/on-mattress_icon.svg"
                                                                        alt="mattress_icon"> <span
                                    class="d-inline d-sm-inline d-md-none d-xl-inline">Матрасы</span>
                                <div class="hint d-xl-none"><span>Матрасы</span></div>
                            </a>
                                <ul class="d-none sub-menu">
                                    <li><a href="">Матрас</a></li>
                                    <li><a href="">Дормео</a></li>
                                    <li><a href="">Детские</a></li>
                                    <li><a href="">Vegas (Беларусь)</a></li>
                                    <li><a href="">Infinito (Италия)</a></li>
                                </ul>
                            </li>
                            <li><a onclick="return false;" href=""><img class="side-icons" src="/img/tumba_icon.svg"
                                                                        alt="tumba_icon"> <span
                                    class="d-inline d-sm-inline d-md-none d-xl-inline">
                        Тумбы и комоды</span>
                                <div class="hint d-xl-none"><span>Тумбы и комоды</span></div>
                            </a></li>
                            <li><a onclick="return false;" href=""><img class="side-icons" src="/img/base_icon.svg"
                                                                        alt="base_icon"> <span
                                    class="d-inline d-sm-inline d-md-none d-xl-inline">
                        Ортопедические основания</span>
                                <div class="hint d-xl-none"><span>Ортопедические основания</span></div>
                            </a></li>
                            <li><a onclick="return false;" href=""><img class="side-icons" src="/img/matress_icon.svg"
                                                                        alt="matress_icon"> <span
                                    class="d-inline d-sm-inline d-md-none d-xl-inline">Наматрасники</span>
                                <div class="hint d-xl-none"><span>Наматрасники</span></div>
                            </a>
                            </li>
                            <li><a onclick="return false;" href=""><img class="side-icons" src="/img/pillow_icon.svg"
                                                                        alt="pillow_icon"> <span
                                    class="d-inline d-sm-inline d-md-none d-xl-inline">Подушки</span>
                                <div class="hint d-xl-none"><span>Подушки</span></div>
                            </a>
                            </li>
                            <li><a onclick="return false;" href=""><img class="side-icons"
                                                                        src="/img/accessorize_icon.svg"
                                                                        alt="accessorize_icon">
                                <span class="d-inline d-sm-inline d-md-none d-xl-inline">Аксессуары для сна</span>
                                <div class="hint d-xl-none"><span>Аксессуары для сна</span></div>
                            </a></li>
                            <li><a onclick="return false;" href=""><img class="side-icons" src="/img/carpet_icon.svg"
                                                                        alt="carpet_icon"> <span
                                    class="d-inline d-sm-inline d-md-none d-xl-inline">Ковры</span>
                                <div class="hint d-xl-none"><span>Ковры</span></div>
                            </a></li>
                            <li><a onclick="return false;" href=""><img class="side-icons" src="/img/light_icon.svg"
                                                                        alt="light_icon"> <span
                                    class="d-inline d-sm-inline d-md-none d-xl-inline">Свет</span>
                                <div class="hint d-xl-none"><span>Свет</span></div>
                            </a></li>
                            <li><a onclick="return false;" href=""><img class="side-icons" src="/img/sale_icon.svg"
                                                                        alt="sale_icon"> <span
                                    class="d-inline d-sm-inline d-md-none d-xl-inline">Акции</span>
                                <div class="hint d-xl-none"><span>Акции</span></div>
                            </a></li>
                            <li><a class="mm" href=""> <span
                                    class="d-inline d-sm-inline d-md-none">Доставка и оплата</span></a>
                            </li>
                            <li><a class="mm" href=""> <span class="d-inline d-sm-inline d-md-none">Салоны</span></a>
                            </li>
                            <li><a class="mm" href=""> <span
                                    class="d-inline d-sm-inline d-md-none">Личный кабинет</span></a>
                            </li>
                            <li><a class="mm" href=""> <span class="d-inline d-sm-inline d-md-none">О нас</span></a>
                            </li>
                        </ul>
                        <div class="mob-lang text-center">
                            <span class="d-inline d-sm-inline d-md-none"><a class="select" href="#">Русский</a></span>
                            <span class="d-inline d-sm-inline d-md-none"><a href="#">Украинский</a></span>
                        </div>
                    </div>
                </nav>
                <nav class="side-second-menu-wrap">
                    <div class="title"></div>
                    <i class="close-i"></i>
                    <div class="clearfix"></div>
                    <div class="sub-menu"></div>
                </nav>
            </div>
            <div class="header-wrap">
                <div class="side-logo-wrap">
                    <div class="logo">
                        <img class="d-none d-xl-block" src="/img/logo.png" alt="logo.png">
                    </div>
                </div>
                <div class="phone-wrap d-none d-md-inline-block">
                    <div class="phone-title text-light-c">Бесплатная линия</div>
                    <div class="phone">0 800 604 597</div>
                </div>
                <div class="shedule-wrapp d-none d-md-inline-block">
                    <div class="text-light-c">09:00-20:00 (будние)</div>
                    <div class="text-light-c">10:00-18:00 (выходные)</div>
                </div>
                <button type="button" class="btn btn-sm btn-blue d-none d-md-inline-block">Обратный звонок</button>
                <ul class="head-menu d-none d-md-inline-block">
                    <li><a class="d-none d-lg-inline" href="#">О нас</a></li>
                    <li><a class="d-none d-xl-inline" href="#">Магазины</a></li>
                    <li><a href="#">Доставка и оплата</a></li>
                </ul>
                <div class="icons-wrap">
                    <div class="lang-swich-wrap d-none d-md-block">
                        <span><a href="#">UA</a></span>
                        <span><a class="active" href="#">RU</a></span>
                    </div>
                    <i class="favorit close"></i>
                    <i class="favorit hanburger d-md-none"></i>
                    <img class="d-md-none" src="/img/logo.png" alt="logo.png">
                    <i class="favorit shopping_bag_icon"><span>0</span></i>
                    <i class="favorit favorite_i"><span>1</span></i>
                    <i class="favorit call-from-site d-md-none"></i>
                    <i class="favorit compare_icon d-none d-md-inline-block"></i>
                    <i class="favorit user_icon d-none d-md-inline-block"></i>
                </div>
            </div>
            <nav class="breadcrumb-wrap" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Bed4you</a></li>
                    <li class="breadcrumb-item"><a href="#">Сертификаты</a></li>
                    <li class="breadcrumb-item active">ISO 9001:2008</li>
                </ol>
            </nav>

            <div class="row">
                <div class="offset-xl-1 col-xl-11">
                    <div class="cert-full-wrap">
                        <h1 class="title">ISO 9001:2008 <img src="/prod_img/sert/certs-iso.svg" alt="certs-iso"></h1>
                        <div class="text">
                            Стандарт ISO 9001:2008 «Системы менеджмента качества. Требования» разработан ИСО –
                            Международной организацией по стандартизации (International Organization for
                            Standardization, ISO). Соответствующий сертификат может служить для потребителя
                            свидетельством стабильного высокого качества продукции предприятия.

                            История ИСО началась в октябре 1946 года, когда делегаты от 25 национальных организаций по
                            стандартизации собрались на конференции в Лондоне. Они приняли решение о создании
                            некоммерческой международной организации, которая бы взяла на себя разработку единых
                            промышленных стандартов для всего мира. Такой организацией и стала ИСО, начавшая работу с
                            февраля 1947 года.

                            Сегодня в ИСО входят представители 163 стран. К настоящему моменту она разработала более 19
                            500 международных стандартов, охватывающих практически все отрасли бизнеса и технологий. Над
                            созданием стандартов работают около 3 368 входящих в структуру ИСО технических органов.
                            Центральный секретариат организации расположен в Женеве (Швейцария).

                            Стандарты ИСО разрабатываются на основе консенсуса участников и носят добровольный характер.

                            Сама ИСО не занимается сертификацией предприятий. Ее производят независимые организации, в
                            основном частные.

                            Серия стандартов ISO 9000 охватывает различные аспекты управления качеством. Одним из них
                            является стандарт ISO 9001:2008. Он служит для оценки способности предприятия выполнять
                            требования потребителей и законодательства к качеству продукции, а также следовать
                            собственным внутренним правилам.

                            Первая версия стандарта ISO 9001 была создана в 1987 году на основе британского стандарта BS
                            5750. ISO 9001:2008 представляет собой четвертую редакцию стандарта.

                            Одна из особенностей этого стандарта – внедрение процессного подхода к управлению качеством.
                            При этом подходе большое внимание уделяется связям разных видов деятельности, их комбинациям
                            и взаимодействиям. Система менеджмента качества должна обеспечивать целостность контроля
                            качества на протяжении всего процесса производства и в результате – гарантировать стабильное
                            качество продукции.

                            В частности, стандарт ISO 9001:2008 обязывает предприятие:

                            обеспечивать наличие ресурсов и информации, необходимых для управления качеством;
                            осуществлять мониторинг и анализ процессов управления качеством;
                            принимать меры, направленные на достижение запланированных результатов;
                            стремиться к улучшению системы менеджмента качества;
                            вести документацию в области качества;
                            планировать процессы жизненного цикла продукции;
                            определять требования потребителей к качеству продукции;
                            стремиться повысить удовлетворенность потребителей;
                            обеспечивать надлежащую компетенцию персонала и доводить до его сведения важность выполнения
                            требований к качеству продукции;
                            поддерживать в рабочем состоянии всю инфраструктуру, влияющую на качество продукции (здания,
                            оборудование, транспорт, связь, информационные системы и т.п.);
                            создавать производственную среду, необходимую для выполнения требований к качеству
                            продукции.
                            Сертификат, подтверждающий соответствие системы менеджмента качества стандарту ISO
                            9001:2008, служит доказательством надежности предприятия и его целостного подхода к
                            обеспечению качества продукции.
                        </div>
                        <div class="btn-wrap">
                            <button class="btn btn-link">< Открытие нового салона в Киеве</button>
                            <button class="btn btn-link">Расширение ассортимента кроватей ></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="subscription-wrap d-none d-md-block">
                        <div class="inner-wrap">
                            <label>Узнайте первыми о распродажах и новинках!</label>
                            <input type="text" placeholder="Ваша электронная почта">
                            <button class="btn btn-sm btn-blue">Подписаться</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ############  end content ##################-->
        <footer>
            <div class="footer-wrap">
                <div class="row">
                    <div class="col-lg-3 d-none d-md-block">
                        <img src="/img/logo.png" alt="logo">
                        <div class="phone-footer-wrap">
                            <div class="text">09:00-20:00 (будни)</div>
                            <div class="text">10:00-18:00 (выходные)</div>
                            <div class="phone">0 800 604 597</div>
                            <div class="text">Бесплатная линия</div>
                        </div>
                    </div>
                    <div class="col-lg-3 socials d-none d-md-block">
                        <h6 class="title">Мы в соцсетях</h6>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">YouTube</a></li>
                        </ul>
                        <h6>Обратный звонок</h6>
                    </div>
                    <div class="col-lg-3 pay d-none d-md-block">
                        <h6 class="title">Способы оплаты</h6>
                        <ul>
                            <li><a href="#">Приват 24</a></li>
                            <li><a href="#">Viza</a></li>
                            <li><a href="#">Mastercard</a></li>
                            <li><a href="#">LiqPay</a></li>
                        </ul>
                        <h6 class="title">Отзывы о нас</h6>
                    </div>
                    <div class="col-lg-3 other">
                        <ul>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Сертификаты</a></li>
                            <li><a href="#">Контакты</a></li>
                            <li><a href="#">Статьи</a></li>
                            <li><a href="#">Условия гарантии</a></li>
                            <li><a href="#">Правила эксплкатации</a></li>
                            <li><a href="#">Политика конфиденциальности</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center cop">2018 ООО "Вегас Украина"</div>
        </footer>
    </div>

</div>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript">
    $('.slider').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        fade: true,
        asNavFor: '.slider-nav',
        prevArrow: '<div class="prev-arrow"></div>',
        nextArrow: '<div class="next-arrow"></div>',
    });
    $('.slider-nav').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        asNavFor: '.slider',
        dots: false,
        centerMode: false,
        focusOnSelect: true,
        arrows: false,
    });
</script>
</body>
</html>
