<div class="page-body">
    <nav class="breadcrumb-wrap">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Bed4you</a></li>
            <li class="breadcrumb-item active">Скидки</li>
        </ol>
    </nav>
    <div class="row news">
        <div class="offset-xl-1 col-xl-10">
            <h1 class="title">Скидки</h1>
            <div class="discount-full-wrap">
                <div class="text">
                    <p>Промо</p>
                    <table>
                    <tbody>
                    <tr>
                    <td>Товар</td>
                    <td>Cкидка при оплате одним платежом в момент заказа</td>
                    <td>Скидка при оплате во время доставки или несколькими платежами</td>
                    </tr>
                    <tr>
                    <td>Матрасы коллекций Comfort, Modern, Exclusive, Ecolatex или Active при покупке от 2 единиц в одном заказе, а также при покупке</td>
                    <td>45%</td>
                    <td>20%</td>
                    </tr>
                    <tr>
                    <td>Матрасы коллекций Comfort, Modern, Exclusive, Ecolatex или Active при покупке от 2 единиц в одном заказе, а также при покупке</td>
                    <td>50%</td>
                    <td>30%</td>
                    </tr>
                    <tr>
                    <td>Матрасы коллекций Comfort, Modern, Exclusive, Ecolatex или Active при покупке от 2 единиц в одном заказе, а также при покупке</td>
                    <td>10%</td>
                    <td>5%</td>
                    </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>