<div class="row">
    <div class="col-sm-6">
        <h3 class="text-center">Подушка с наполнителем MemoryFoam</h3>
        <div>Основу подушки составляют полоски пенополиуретанового материала, способного запоминать форму тела, —
            MemoryFoam, разработанного NASA. Изначально созданный для космической программы, он оказался настолько
            удобным и гигиеничным, что нашел свое применение в изготовлении товаров для сна. MemoryFoam обладает
            способностью «запоминать» контуры и форму тела. При этом мышцы могут полностью расслабиться, а вам не
            придется менять привычное положение: спать на изделии удобно, лежа на боку, спине или на животе. </div>
    </div>
    <div class="col-sm-6">
        <h3 class="text-center">Космические технологии</h3>
        <div>Пористая структура и высокая эластичность наполнителя дают возможность плавно повторять анатомические
            особенности шеи, головы, практически не оказывая ответного сопротивления. В результате отсутствует ощущение
            сдавленности каких-либо участков тела. Лежащий на подушке человек чувствует эффект, подобный невесомости, и
            может полностью расслабиться.
            </div>
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                    <img class="mt-3 figure-img img-fluid rounded" src="/images/uploaded/Test Dmytro/Мемори1.png" alt="" />
            </div>
            <div class="col-sm-6">
                    <img class="mt-3 figure-img img-fluid rounded" src="/images/uploaded/Test Dmytro/Мемори2.png" alt="" />
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <h3 class="text-center">Гипоаллергенность и стильный внешний вид</h3>
        <div>Наполнитель изделия не имеет противопоказаний и рекомендован даже для людей, у которых натуральные пух или
            перья вызывают аллергическую реакцию. Модель оснащена двумя чехлами: внутренний несъемный сделан из
            натурального хлопка, хорошо пропускающего воздух, и внешний с удобным замком-молнией, который можно снимать
            и стирать в стиральной машинке. Благодаря стеганной трикотажной ткани изделие выглядит стильно и дополнит
            любой интерьер спальни. А стандартные размеры 50 х 70 см позволят легко подобрать в магазине Bed4You
            подходящую наволочку. <em>Погружайтесь в релакс на удобной гипоаллергенной подушке — обеспечьте здоровый
                сон и забудьте о дискомфорте.</em></div>
    </div>
</div>