<body>
    <form id="limitsForm" name="limitsForm" method="post" action="/pages/cardLimits.jspx">
        <dl id="limitsForm:j_id72" class="rich-messages" style="display: none;"><dt></dt></dl>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:0:j_id77" name="limitsForm:j_id75:0:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:0:j_id79','parameters':{'limitsForm:j_id75:0:j_id79':'limitsForm:j_id75:0:j_id79','cardNum':'7825390000290015'} } )},'similarityGroupingId':'limitsForm:j_id75:0:j_id77','parameters':{'limitsForm:j_id75:0:j_id77':'limitsForm:j_id75:0:j_id77'} } );return false;"><span
                                class="h2">7825390000290015</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:0:limitPanel" class="wideTable">
            <tbody>
                <tr>
                    <td>
                        <table class="rich-table wideTable bottomMargin" id="limitsForm:j_id75:0:limitsTable" border="0"
                            cellpadding="1" cellspacing="1">
                            <colgroup span="8"></colgroup>
                            <thead class="rich-table-thead">
                                <tr class="rich-table-header wideTable-header">
                                    <th class="rich-table-headercell" id="limitsForm:j_id75:0:limitsTable:j_id83" width="4%"></th>
                                    <th class="rich-table-headercell" id="limitsForm:j_id75:0:limitsTable:j_id84" width="19%">Лимит</th>
                                    <th class="rich-table-headercell" id="limitsForm:j_id75:0:limitsTable:j_id86" width="12%">На
                                        период</th>
                                    <th class="rich-table-headercell" id="limitsForm:j_id75:0:limitsTable:j_id88" width="15%">Ограничение</th>
                                    <th class="rich-table-headercell" id="limitsForm:j_id75:0:limitsTable:j_id90" width="15%">Дата,
                                        с</th>
                                    <th class="rich-table-headercell" id="limitsForm:j_id75:0:limitsTable:j_id92" width="15%">Дата,
                                        по</th>
                                    <th class="rich-table-headercell" id="limitsForm:j_id75:0:limitsTable:j_id94" width="15%">Использовано</th>
                                    <th class="rich-table-headercell" id="limitsForm:j_id75:0:limitsTable:j_id96" width="20%">Остаток</th>
                                </tr>
                            </thead>
                            <tbody id="limitsForm:j_id75:0:limitsTable:tb">
                                <tr class="rich-table-row rich-table-firstrow oddRow">
                                    <td class="rich-table-cell" id="limitsForm:j_id75:0:limitsTable:0:j_id98" width="4%">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td><input type="radio" name="limitsForm:j_id75:0:limitsTable:0:j_id99"
                                                            id="limitsForm:j_id75:0:limitsTable:0:j_id99:0" value="true"
                                                            onclick="onLimitSelection('1','204');" /><label for="limitsForm:j_id75:0:limitsTable:0:j_id99:0"></label></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="rich-table-cell" id="limitsForm:j_id75:0:limitsTable:0:j_id101">Pulls 95
                                        гривні до повного використання (картка)</td>
                                    <td class="rich-table-cell" id="limitsForm:j_id75:0:limitsTable:0:j_id103"></td>
                                    <td class="rich-table-cell" id="limitsForm:j_id75:0:limitsTable:0:j_id105" style="text-align:right;">10.00</td>
                                    <td class="rich-table-cell" id="limitsForm:j_id75:0:limitsTable:0:j_id108"></td>
                                    <td class="rich-table-cell" id="limitsForm:j_id75:0:limitsTable:0:j_id110">Постоянный
                                        лимит</td>
                                    <td class="rich-table-cell" id="limitsForm:j_id75:0:limitsTable:0:j_id113" style="text-align:right;">0.00</td>
                                    <td class="rich-table-cell" id="limitsForm:j_id75:0:limitsTable:0:j_id116" style="text-align:right;">10.00</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="accountsButton">
                            <tbody>
                                <tr>
                                    <td><input id="limitsForm:j_id75:0:addButton" name="limitsForm:j_id75:0:addButton"
                                            onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){document.getElementById('addPanel').component.show()},'similarityGroupingId':'limitsForm:j_id75:0:addButton','parameters':{'limitsForm:j_id75:0:addButton':'limitsForm:j_id75:0:addButton'} } );return false;"
                                            value="Добавить лимит" type="button" /></td>
                                    <td><input id="limitsForm:j_id75:0:editButton" name="limitsForm:j_id75:0:editButton"
                                            onclick="return false;" value="Изменить" disabled="disabled" type="button" /></td>
                                    <td><input id="limitsForm:j_id75:0:deleteButton" name="limitsForm:j_id75:0:deleteButton"
                                            onclick="return false;" value="Удалить" disabled="disabled" type="button" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:1:j_id77" name="limitsForm:j_id75:1:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:1:j_id79','parameters':{'limitsForm:j_id75:1:j_id79':'limitsForm:j_id75:1:j_id79','cardNum':'7825390000290016'} } )},'similarityGroupingId':'limitsForm:j_id75:1:j_id77','parameters':{'limitsForm:j_id75:1:j_id77':'limitsForm:j_id75:1:j_id77'} } );return false;"><span
                                class="h2">7825390000290016</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:1:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:2:j_id77" name="limitsForm:j_id75:2:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:2:j_id79','parameters':{'limitsForm:j_id75:2:j_id79':'limitsForm:j_id75:2:j_id79','cardNum':'7825390000290017'} } )},'similarityGroupingId':'limitsForm:j_id75:2:j_id77','parameters':{'limitsForm:j_id75:2:j_id77':'limitsForm:j_id75:2:j_id77'} } );return false;"><span
                                class="h2">7825390000290017</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:2:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:3:j_id77" name="limitsForm:j_id75:3:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:3:j_id79','parameters':{'limitsForm:j_id75:3:j_id79':'limitsForm:j_id75:3:j_id79','cardNum':'7825390000290018'} } )},'similarityGroupingId':'limitsForm:j_id75:3:j_id77','parameters':{'limitsForm:j_id75:3:j_id77':'limitsForm:j_id75:3:j_id77'} } );return false;"><span
                                class="h2">7825390000290018</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:3:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:4:j_id77" name="limitsForm:j_id75:4:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:4:j_id79','parameters':{'limitsForm:j_id75:4:j_id79':'limitsForm:j_id75:4:j_id79','cardNum':'7825390000290019'} } )},'similarityGroupingId':'limitsForm:j_id75:4:j_id77','parameters':{'limitsForm:j_id75:4:j_id77':'limitsForm:j_id75:4:j_id77'} } );return false;"><span
                                class="h2">7825390000290019</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:4:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:5:j_id77" name="limitsForm:j_id75:5:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:5:j_id79','parameters':{'limitsForm:j_id75:5:j_id79':'limitsForm:j_id75:5:j_id79','cardNum':'7825390000290020'} } )},'similarityGroupingId':'limitsForm:j_id75:5:j_id77','parameters':{'limitsForm:j_id75:5:j_id77':'limitsForm:j_id75:5:j_id77'} } );return false;"><span
                                class="h2">7825390000290020</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:5:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:6:j_id77" name="limitsForm:j_id75:6:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:6:j_id79','parameters':{'limitsForm:j_id75:6:j_id79':'limitsForm:j_id75:6:j_id79','cardNum':'7825390000290021'} } )},'similarityGroupingId':'limitsForm:j_id75:6:j_id77','parameters':{'limitsForm:j_id75:6:j_id77':'limitsForm:j_id75:6:j_id77'} } );return false;"><span
                                class="h2">7825390000290021</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:6:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:7:j_id77" name="limitsForm:j_id75:7:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:7:j_id79','parameters':{'limitsForm:j_id75:7:j_id79':'limitsForm:j_id75:7:j_id79','cardNum':'7825390000290022'} } )},'similarityGroupingId':'limitsForm:j_id75:7:j_id77','parameters':{'limitsForm:j_id75:7:j_id77':'limitsForm:j_id75:7:j_id77'} } );return false;"><span
                                class="h2">7825390000290022</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:7:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:8:j_id77" name="limitsForm:j_id75:8:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:8:j_id79','parameters':{'limitsForm:j_id75:8:j_id79':'limitsForm:j_id75:8:j_id79','cardNum':'7825390000290023'} } )},'similarityGroupingId':'limitsForm:j_id75:8:j_id77','parameters':{'limitsForm:j_id75:8:j_id77':'limitsForm:j_id75:8:j_id77'} } );return false;"><span
                                class="h2">7825390000290023</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:8:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:9:j_id77" name="limitsForm:j_id75:9:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:9:j_id79','parameters':{'limitsForm:j_id75:9:j_id79':'limitsForm:j_id75:9:j_id79','cardNum':'7825390000290024'} } )},'similarityGroupingId':'limitsForm:j_id75:9:j_id77','parameters':{'limitsForm:j_id75:9:j_id77':'limitsForm:j_id75:9:j_id77'} } );return false;"><span
                                class="h2">7825390000290024</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:9:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:10:j_id77" name="limitsForm:j_id75:10:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:10:j_id79','parameters':{'limitsForm:j_id75:10:j_id79':'limitsForm:j_id75:10:j_id79','cardNum':'7825390000290025'} } )},'similarityGroupingId':'limitsForm:j_id75:10:j_id77','parameters':{'limitsForm:j_id75:10:j_id77':'limitsForm:j_id75:10:j_id77'} } );return false;"><span
                                class="h2">7825390000290025</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:10:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:11:j_id77" name="limitsForm:j_id75:11:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:11:j_id79','parameters':{'limitsForm:j_id75:11:j_id79':'limitsForm:j_id75:11:j_id79','cardNum':'7825390000290026'} } )},'similarityGroupingId':'limitsForm:j_id75:11:j_id77','parameters':{'limitsForm:j_id75:11:j_id77':'limitsForm:j_id75:11:j_id77'} } );return false;"><span
                                class="h2">7825390000290026</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:11:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:12:j_id77" name="limitsForm:j_id75:12:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:12:j_id79','parameters':{'limitsForm:j_id75:12:j_id79':'limitsForm:j_id75:12:j_id79','cardNum':'7825390000290027'} } )},'similarityGroupingId':'limitsForm:j_id75:12:j_id77','parameters':{'limitsForm:j_id75:12:j_id77':'limitsForm:j_id75:12:j_id77'} } );return false;"><span
                                class="h2">7825390000290027</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:12:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:13:j_id77" name="limitsForm:j_id75:13:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:13:j_id79','parameters':{'limitsForm:j_id75:13:j_id79':'limitsForm:j_id75:13:j_id79','cardNum':'7825390000290028'} } )},'similarityGroupingId':'limitsForm:j_id75:13:j_id77','parameters':{'limitsForm:j_id75:13:j_id77':'limitsForm:j_id75:13:j_id77'} } );return false;"><span
                                class="h2">7825390000290028</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:13:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:14:j_id77" name="limitsForm:j_id75:14:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:14:j_id79','parameters':{'limitsForm:j_id75:14:j_id79':'limitsForm:j_id75:14:j_id79','cardNum':'7825390000290029'} } )},'similarityGroupingId':'limitsForm:j_id75:14:j_id77','parameters':{'limitsForm:j_id75:14:j_id77':'limitsForm:j_id75:14:j_id77'} } );return false;"><span
                                class="h2">7825390000290029</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:14:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:15:j_id77" name="limitsForm:j_id75:15:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:15:j_id79','parameters':{'limitsForm:j_id75:15:j_id79':'limitsForm:j_id75:15:j_id79','cardNum':'7825390000290030'} } )},'similarityGroupingId':'limitsForm:j_id75:15:j_id77','parameters':{'limitsForm:j_id75:15:j_id77':'limitsForm:j_id75:15:j_id77'} } );return false;"><span
                                class="h2">7825390000290030</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:15:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:16:j_id77" name="limitsForm:j_id75:16:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:16:j_id79','parameters':{'limitsForm:j_id75:16:j_id79':'limitsForm:j_id75:16:j_id79','cardNum':'7825390000290031'} } )},'similarityGroupingId':'limitsForm:j_id75:16:j_id77','parameters':{'limitsForm:j_id75:16:j_id77':'limitsForm:j_id75:16:j_id77'} } );return false;"><span
                                class="h2">7825390000290031</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:16:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:17:j_id77" name="limitsForm:j_id75:17:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:17:j_id79','parameters':{'limitsForm:j_id75:17:j_id79':'limitsForm:j_id75:17:j_id79','cardNum':'7825390000290032'} } )},'similarityGroupingId':'limitsForm:j_id75:17:j_id77','parameters':{'limitsForm:j_id75:17:j_id77':'limitsForm:j_id75:17:j_id77'} } );return false;"><span
                                class="h2">7825390000290032</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:17:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:18:j_id77" name="limitsForm:j_id75:18:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:18:j_id79','parameters':{'limitsForm:j_id75:18:j_id79':'limitsForm:j_id75:18:j_id79','cardNum':'7825390000290033'} } )},'similarityGroupingId':'limitsForm:j_id75:18:j_id77','parameters':{'limitsForm:j_id75:18:j_id77':'limitsForm:j_id75:18:j_id77'} } );return false;"><span
                                class="h2">7825390000290033</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:18:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:19:j_id77" name="limitsForm:j_id75:19:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:19:j_id79','parameters':{'limitsForm:j_id75:19:j_id79':'limitsForm:j_id75:19:j_id79','cardNum':'7825390000290034'} } )},'similarityGroupingId':'limitsForm:j_id75:19:j_id77','parameters':{'limitsForm:j_id75:19:j_id77':'limitsForm:j_id75:19:j_id77'} } );return false;"><span
                                class="h2">7825390000290034</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:19:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:20:j_id77" name="limitsForm:j_id75:20:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:20:j_id79','parameters':{'limitsForm:j_id75:20:j_id79':'limitsForm:j_id75:20:j_id79','cardNum':'7825390000290035'} } )},'similarityGroupingId':'limitsForm:j_id75:20:j_id77','parameters':{'limitsForm:j_id75:20:j_id77':'limitsForm:j_id75:20:j_id77'} } );return false;"><span
                                class="h2">7825390000290035</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:20:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:21:j_id77" name="limitsForm:j_id75:21:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:21:j_id79','parameters':{'limitsForm:j_id75:21:j_id79':'limitsForm:j_id75:21:j_id79','cardNum':'7825390000290036'} } )},'similarityGroupingId':'limitsForm:j_id75:21:j_id77','parameters':{'limitsForm:j_id75:21:j_id77':'limitsForm:j_id75:21:j_id77'} } );return false;"><span
                                class="h2">7825390000290036</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:21:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:22:j_id77" name="limitsForm:j_id75:22:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:22:j_id79','parameters':{'limitsForm:j_id75:22:j_id79':'limitsForm:j_id75:22:j_id79','cardNum':'7825390000290037'} } )},'similarityGroupingId':'limitsForm:j_id75:22:j_id77','parameters':{'limitsForm:j_id75:22:j_id77':'limitsForm:j_id75:22:j_id77'} } );return false;"><span
                                class="h2">7825390000290037</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:22:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:23:j_id77" name="limitsForm:j_id75:23:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:23:j_id79','parameters':{'limitsForm:j_id75:23:j_id79':'limitsForm:j_id75:23:j_id79','cardNum':'7825390000290038'} } )},'similarityGroupingId':'limitsForm:j_id75:23:j_id77','parameters':{'limitsForm:j_id75:23:j_id77':'limitsForm:j_id75:23:j_id77'} } );return false;"><span
                                class="h2">7825390000290038</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:23:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:24:j_id77" name="limitsForm:j_id75:24:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:24:j_id79','parameters':{'limitsForm:j_id75:24:j_id79':'limitsForm:j_id75:24:j_id79','cardNum':'7825390000290039'} } )},'similarityGroupingId':'limitsForm:j_id75:24:j_id77','parameters':{'limitsForm:j_id75:24:j_id77':'limitsForm:j_id75:24:j_id77'} } );return false;"><span
                                class="h2">7825390000290039</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:24:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:25:j_id77" name="limitsForm:j_id75:25:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:25:j_id79','parameters':{'limitsForm:j_id75:25:j_id79':'limitsForm:j_id75:25:j_id79','cardNum':'7825390000290040'} } )},'similarityGroupingId':'limitsForm:j_id75:25:j_id77','parameters':{'limitsForm:j_id75:25:j_id77':'limitsForm:j_id75:25:j_id77'} } );return false;"><span
                                class="h2">7825390000290040</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:25:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:26:j_id77" name="limitsForm:j_id75:26:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:26:j_id79','parameters':{'limitsForm:j_id75:26:j_id79':'limitsForm:j_id75:26:j_id79','cardNum':'7825390000290041'} } )},'similarityGroupingId':'limitsForm:j_id75:26:j_id77','parameters':{'limitsForm:j_id75:26:j_id77':'limitsForm:j_id75:26:j_id77'} } );return false;"><span
                                class="h2">7825390000290041</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:26:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:27:j_id77" name="limitsForm:j_id75:27:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:27:j_id79','parameters':{'limitsForm:j_id75:27:j_id79':'limitsForm:j_id75:27:j_id79','cardNum':'7825390000290042'} } )},'similarityGroupingId':'limitsForm:j_id75:27:j_id77','parameters':{'limitsForm:j_id75:27:j_id77':'limitsForm:j_id75:27:j_id77'} } );return false;"><span
                                class="h2">7825390000290042</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:27:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:28:j_id77" name="limitsForm:j_id75:28:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:28:j_id79','parameters':{'limitsForm:j_id75:28:j_id79':'limitsForm:j_id75:28:j_id79','cardNum':'7825390000290043'} } )},'similarityGroupingId':'limitsForm:j_id75:28:j_id77','parameters':{'limitsForm:j_id75:28:j_id77':'limitsForm:j_id75:28:j_id77'} } );return false;"><span
                                class="h2">7825390000290043</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:28:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:29:j_id77" name="limitsForm:j_id75:29:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:29:j_id79','parameters':{'limitsForm:j_id75:29:j_id79':'limitsForm:j_id75:29:j_id79','cardNum':'7825390000290044'} } )},'similarityGroupingId':'limitsForm:j_id75:29:j_id77','parameters':{'limitsForm:j_id75:29:j_id77':'limitsForm:j_id75:29:j_id77'} } );return false;"><span
                                class="h2">7825390000290044</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:29:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:30:j_id77" name="limitsForm:j_id75:30:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:30:j_id79','parameters':{'limitsForm:j_id75:30:j_id79':'limitsForm:j_id75:30:j_id79','cardNum':'7825390000290045'} } )},'similarityGroupingId':'limitsForm:j_id75:30:j_id77','parameters':{'limitsForm:j_id75:30:j_id77':'limitsForm:j_id75:30:j_id77'} } );return false;"><span
                                class="h2">7825390000290045</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:30:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:31:j_id77" name="limitsForm:j_id75:31:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:31:j_id79','parameters':{'limitsForm:j_id75:31:j_id79':'limitsForm:j_id75:31:j_id79','cardNum':'7825390000290046'} } )},'similarityGroupingId':'limitsForm:j_id75:31:j_id77','parameters':{'limitsForm:j_id75:31:j_id77':'limitsForm:j_id75:31:j_id77'} } );return false;"><span
                                class="h2">7825390000290046</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:31:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:32:j_id77" name="limitsForm:j_id75:32:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:32:j_id79','parameters':{'limitsForm:j_id75:32:j_id79':'limitsForm:j_id75:32:j_id79','cardNum':'7825390000290047'} } )},'similarityGroupingId':'limitsForm:j_id75:32:j_id77','parameters':{'limitsForm:j_id75:32:j_id77':'limitsForm:j_id75:32:j_id77'} } );return false;"><span
                                class="h2">7825390000290047</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:32:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:33:j_id77" name="limitsForm:j_id75:33:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:33:j_id79','parameters':{'limitsForm:j_id75:33:j_id79':'limitsForm:j_id75:33:j_id79','cardNum':'7825390000290048'} } )},'similarityGroupingId':'limitsForm:j_id75:33:j_id77','parameters':{'limitsForm:j_id75:33:j_id77':'limitsForm:j_id75:33:j_id77'} } );return false;"><span
                                class="h2">7825390000290048</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:33:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:34:j_id77" name="limitsForm:j_id75:34:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:34:j_id79','parameters':{'limitsForm:j_id75:34:j_id79':'limitsForm:j_id75:34:j_id79','cardNum':'7825390000290049'} } )},'similarityGroupingId':'limitsForm:j_id75:34:j_id77','parameters':{'limitsForm:j_id75:34:j_id77':'limitsForm:j_id75:34:j_id77'} } );return false;"><span
                                class="h2">7825390000290049</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:34:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:35:j_id77" name="limitsForm:j_id75:35:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:35:j_id79','parameters':{'cardNum':'7825390000290050','limitsForm:j_id75:35:j_id79':'limitsForm:j_id75:35:j_id79'} } )},'similarityGroupingId':'limitsForm:j_id75:35:j_id77','parameters':{'limitsForm:j_id75:35:j_id77':'limitsForm:j_id75:35:j_id77'} } );return false;"><span
                                class="h2">7825390000290050</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:35:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:36:j_id77" name="limitsForm:j_id75:36:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:36:j_id79','parameters':{'limitsForm:j_id75:36:j_id79':'limitsForm:j_id75:36:j_id79','cardNum':'7825390000290051'} } )},'similarityGroupingId':'limitsForm:j_id75:36:j_id77','parameters':{'limitsForm:j_id75:36:j_id77':'limitsForm:j_id75:36:j_id77'} } );return false;"><span
                                class="h2">7825390000290051</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:36:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:37:j_id77" name="limitsForm:j_id75:37:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:37:j_id79','parameters':{'limitsForm:j_id75:37:j_id79':'limitsForm:j_id75:37:j_id79','cardNum':'7825390000290052'} } )},'similarityGroupingId':'limitsForm:j_id75:37:j_id77','parameters':{'limitsForm:j_id75:37:j_id77':'limitsForm:j_id75:37:j_id77'} } );return false;"><span
                                class="h2">7825390000290052</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:37:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:38:j_id77" name="limitsForm:j_id75:38:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:38:j_id79','parameters':{'cardNum':'7825390000290053','limitsForm:j_id75:38:j_id79':'limitsForm:j_id75:38:j_id79'} } )},'similarityGroupingId':'limitsForm:j_id75:38:j_id77','parameters':{'limitsForm:j_id75:38:j_id77':'limitsForm:j_id75:38:j_id77'} } );return false;"><span
                                class="h2">7825390000290053</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:38:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:39:j_id77" name="limitsForm:j_id75:39:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:39:j_id79','parameters':{'limitsForm:j_id75:39:j_id79':'limitsForm:j_id75:39:j_id79','cardNum':'7825390000290054'} } )},'similarityGroupingId':'limitsForm:j_id75:39:j_id77','parameters':{'limitsForm:j_id75:39:j_id77':'limitsForm:j_id75:39:j_id77'} } );return false;"><span
                                class="h2">7825390000290054</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:39:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:40:j_id77" name="limitsForm:j_id75:40:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:40:j_id79','parameters':{'cardNum':'7825390000290055','limitsForm:j_id75:40:j_id79':'limitsForm:j_id75:40:j_id79'} } )},'similarityGroupingId':'limitsForm:j_id75:40:j_id77','parameters':{'limitsForm:j_id75:40:j_id77':'limitsForm:j_id75:40:j_id77'} } );return false;"><span
                                class="h2">7825390000290055</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:40:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:41:j_id77" name="limitsForm:j_id75:41:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:41:j_id79','parameters':{'cardNum':'7825390000290056','limitsForm:j_id75:41:j_id79':'limitsForm:j_id75:41:j_id79'} } )},'similarityGroupingId':'limitsForm:j_id75:41:j_id77','parameters':{'limitsForm:j_id75:41:j_id77':'limitsForm:j_id75:41:j_id77'} } );return false;"><span
                                class="h2">7825390000290056</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:41:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:42:j_id77" name="limitsForm:j_id75:42:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:42:j_id79','parameters':{'limitsForm:j_id75:42:j_id79':'limitsForm:j_id75:42:j_id79','cardNum':'7825390000290057'} } )},'similarityGroupingId':'limitsForm:j_id75:42:j_id77','parameters':{'limitsForm:j_id75:42:j_id77':'limitsForm:j_id75:42:j_id77'} } );return false;"><span
                                class="h2">7825390000290057</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:42:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:43:j_id77" name="limitsForm:j_id75:43:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:43:j_id79','parameters':{'limitsForm:j_id75:43:j_id79':'limitsForm:j_id75:43:j_id79','cardNum':'7825390000290058'} } )},'similarityGroupingId':'limitsForm:j_id75:43:j_id77','parameters':{'limitsForm:j_id75:43:j_id77':'limitsForm:j_id75:43:j_id77'} } );return false;"><span
                                class="h2">7825390000290058</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:43:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:44:j_id77" name="limitsForm:j_id75:44:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:44:j_id79','parameters':{'limitsForm:j_id75:44:j_id79':'limitsForm:j_id75:44:j_id79','cardNum':'7825390000290059'} } )},'similarityGroupingId':'limitsForm:j_id75:44:j_id77','parameters':{'limitsForm:j_id75:44:j_id77':'limitsForm:j_id75:44:j_id77'} } );return false;"><span
                                class="h2">7825390000290059</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:44:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:45:j_id77" name="limitsForm:j_id75:45:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:45:j_id79','parameters':{'limitsForm:j_id75:45:j_id79':'limitsForm:j_id75:45:j_id79','cardNum':'7825390000290060'} } )},'similarityGroupingId':'limitsForm:j_id75:45:j_id77','parameters':{'limitsForm:j_id75:45:j_id77':'limitsForm:j_id75:45:j_id77'} } );return false;"><span
                                class="h2">7825390000290060</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:45:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:46:j_id77" name="limitsForm:j_id75:46:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:46:j_id79','parameters':{'limitsForm:j_id75:46:j_id79':'limitsForm:j_id75:46:j_id79','cardNum':'7825390000290061'} } )},'similarityGroupingId':'limitsForm:j_id75:46:j_id77','parameters':{'limitsForm:j_id75:46:j_id77':'limitsForm:j_id75:46:j_id77'} } );return false;"><span
                                class="h2">7825390000290061</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:46:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:47:j_id77" name="limitsForm:j_id75:47:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:47:j_id79','parameters':{'limitsForm:j_id75:47:j_id79':'limitsForm:j_id75:47:j_id79','cardNum':'7825390000290062'} } )},'similarityGroupingId':'limitsForm:j_id75:47:j_id77','parameters':{'limitsForm:j_id75:47:j_id77':'limitsForm:j_id75:47:j_id77'} } );return false;"><span
                                class="h2">7825390000290062</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:47:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:48:j_id77" name="limitsForm:j_id75:48:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:48:j_id79','parameters':{'limitsForm:j_id75:48:j_id79':'limitsForm:j_id75:48:j_id79','cardNum':'7825390000290063'} } )},'similarityGroupingId':'limitsForm:j_id75:48:j_id77','parameters':{'limitsForm:j_id75:48:j_id77':'limitsForm:j_id75:48:j_id77'} } );return false;"><span
                                class="h2">7825390000290063</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:48:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:49:j_id77" name="limitsForm:j_id75:49:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:49:j_id79','parameters':{'limitsForm:j_id75:49:j_id79':'limitsForm:j_id75:49:j_id79','cardNum':'7825390000290064'} } )},'similarityGroupingId':'limitsForm:j_id75:49:j_id77','parameters':{'limitsForm:j_id75:49:j_id77':'limitsForm:j_id75:49:j_id77'} } );return false;"><span
                                class="h2">7825390000290064</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:49:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:50:j_id77" name="limitsForm:j_id75:50:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:50:j_id79','parameters':{'limitsForm:j_id75:50:j_id79':'limitsForm:j_id75:50:j_id79','cardNum':'7825390000301977'} } )},'similarityGroupingId':'limitsForm:j_id75:50:j_id77','parameters':{'limitsForm:j_id75:50:j_id77':'limitsForm:j_id75:50:j_id77'} } );return false;"><span
                                class="h2">7825390000301977</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:50:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table class="wideTable table_check" style="margin:0px;">
            <tbody>
                <tr>
                    <td><a href="#" id="limitsForm:j_id75:51:j_id77" name="limitsForm:j_id75:51:j_id77" onclick="A4J.AJAX.Submit('limitsForm',event,{'oncomplete':function(request,event,data){A4J.AJAX.Submit('limitsForm',event,{'similarityGroupingId':'limitsForm:j_id75:51:j_id79','parameters':{'limitsForm:j_id75:51:j_id79':'limitsForm:j_id75:51:j_id79','cardNum':'7825390000301978'} } )},'similarityGroupingId':'limitsForm:j_id75:51:j_id77','parameters':{'limitsForm:j_id75:51:j_id77':'limitsForm:j_id75:51:j_id77'} } );return false;"><span
                                class="h2">7825390000301978</span></a></td>
                </tr>
            </tbody>
        </table>
        <table id="limitsForm:j_id75:51:limitPanel" class="wideTable">
            <tbody></tbody>
        </table>
        <table id="limitsForm:jsGrid" style="display: none;">
            <tbody>
                <tr>
                    <td>
                        <script id="limitsForm:j_id120" type="text/javascript">//<![CDATA[
                            onLimitSelection = function (selectedLimitId) { A4J.AJAX.Submit('limitsForm', null, { 'similarityGroupingId': 'limitsForm:j_id120', 'parameters': { 'selectedLimitId': selectedLimitId, 'limitsForm:j_id120': 'limitsForm:j_id120' } }) };
                //]]>
                        </script>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="spacer"></div><span class="actionsList">
            <script type="text/javascript" language="Javascript">//<![CDATA[
                function dpf(f) { var adp = f.adp; if (adp != null) { for (var i = 0; i < adp.length; i++) { f.removeChild(adp[i]); } } }; function apf(f, pvp) { var adp = new Array(); f.adp = adp; var i = 0; for (k in pvp) { var p = document.createElement("input"); p.type = "hidden"; p.name = k; p.value = pvp[k]; f.appendChild(p); adp[i++] = p; } }; function jsfcljs(f, pvp, t) { apf(f, pvp); var ft = f.target; if (t) { f.target = t; } f.submit(); f.target = ft; dpf(f); };
//]]>
            </script> <a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('limitsForm'),{'limitsForm:j_id124':'limitsForm:j_id124'},'');}return false">←
                предыдущая страница</a></span><input type="hidden" autocomplete="off" name="limitsForm" value="limitsForm" /><input
            type="hidden" autocomplete="off" name="autoScroll" value="" /><input type="hidden" autocomplete="off" name="limitsForm:j_idcl"
            value="" /><input type="hidden" autocomplete="off" name="limitsForm:_link_hidden_" value="" />
        <script type="text/javascript">//<![CDATA[
            function clear_limitsForm() {
                _clearJSFFormParameters('limitsForm', '', ['limitsForm:j_idcl', 'limitsForm:_link_hidden_']);
            }
            function clearFormHiddenParams_limitsForm() { clear_limitsForm(); }
            function clearFormHiddenParams_limitsForm() { clear_limitsForm(); }
            clear_limitsForm();
//]]>
        </script><input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value="j_id26" autocomplete="off" />
    </form><span id="editForm:j_id133" class="rich-message"><span class="rich-message-label"></span></span>
    <meta name="Ajax-Update-Ids" content="limitsForm,editForm:j_id133" /><span id="ajax-view-state"><input type="hidden"
            name="javax.faces.ViewState" id="javax.faces.ViewState" value="j_id26" autocomplete="off" /></span>
    <meta id="Ajax-Response" name="Ajax-Response" content="true" />
    <meta name="Ajax-Update-Ids" content="limitsForm,editForm:j_id133" /><span id="ajax-view-state"><input type="hidden"
            name="javax.faces.ViewState" id="javax.faces.ViewState" value="j_id26" autocomplete="off" /></span>
    <meta id="Ajax-Response" name="Ajax-Response" content="true" />
</body>