@using Nop.Web.Areas.Admin.Models.Shipping;
@model WarehouseInfoModel
<nav class="blue-menu">
	<ul class="clearfix">
		@if (ViewBag.Active == "main")
		{
			<li><a class="active" href="/OurStores">@T("menu.map")</a></li>
		}
		else
		{
			<li><a href="/OurStores">@T("menu.map")</a></li>
		}

		@foreach (var city in Model.Cities.Where(x => x != null).Distinct())
		{
			if (city.ToLower() == ViewBag.Active.ToLower())
			{
				<li><a class="active" href="/CityMap?city=@city">@city</a></li>
			}
			else
			{
				<li><a href="/CityMap?city=@city">@city</a></li>
			}

		}
	</ul>
</nav>
