@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
	<div class="sell-wrap pad-norm">
		<div class="title text-center">
			<h3 class="">@T("Bestsellers")</h3>
			<button class="btn btn-sm btn-blue-white float-right d-none d-md-block" id="bestsellers-view-all">@T("Bestsellers.ViewAll")</button>
		</div>
		<div class="slider-wrap clearfix">
			@foreach (var item in Model)
			{
				<div class="item-box">
					@await Html.PartialAsync("_ProductBox", item)
				</div>
			}
		</div>
	</div>
	<script>
		$("#bestsellers-view-all").on("click", function () {
			window.location.replace("@Url.RouteUrl("BestSellers")");
		});
	</script>
}