@model CatalogPagingFilteringModel.SpecificationFilterModel
@{
    var notFilteredItemsGroups = Model.NotFilteredItems.GroupBy(x => x.SpecificationAttributeName);
    var alreadyFilteredItemsGroups = Model.AlreadyFilteredItems.GroupBy(x => x.SpecificationAttributeName);
}
@if (Model.Enabled)
{
<div class="inner-wrap">
    @foreach (var group in Model.FilterItems.GroupBy(x => x.SpecificationAttributeName))
    {
        var groupList = group.ToList();

        <div class="title">
            @groupList[0].SpecificationAttributeName
        </div>
        @foreach (var spec in groupList)
        { 
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="@spec.SpecificationAttributeOptionId" @(Model.AlreadyFilteredItems.Count(x => x.SpecificationAttributeOptionId == spec.SpecificationAttributeOptionId) > 0 ? "checked" : "")>
                <label class="form-check-label">
                    @spec.SpecificationAttributeOptionName
                    <small></small>
                </label>
            </div>
        }
    }
</div>
}