<table>
    <tr>
        <td>
            <ul>
                <li>${name}</li>
                <li>${sku}</li>
                <li>${short-description}</li>
                <li>${full-description}</li>
                <li>${price}</li>
                <li>${manufacturer}</li>
                <li>${manufacturer-part-number}</li>
                <li>${se-name}</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>${meta-title}</li>
                <li>${meta-description}</li>
                <li>${meta-keywords}</li>
            </ul>
        </td>
    </tr>
</table>
