@model NewsItemModel
@{
	Layout = "_ColumnsOne";

	//title
	Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Title);
	//meta
	Html.AddMetaDescriptionParts(Model.MetaDescription);
	Html.AddMetaKeywordParts(Model.MetaKeywords);
	//page class
	Html.AppendPageCssClassParts("html-news-item-page");
}
<nav class="breadcrumb-wrap" aria-label="breadcrumb"></nav>
<div class="row news">
	<div class="col-md-12 col-lg-12 offset-xl-1 col-xl-9">
		<div class="news-full-wrap">
			<h1 class="title">@Model.Title <span class="date">@Model.CreatedOn.ToString("D")</span></h1>
			<div class="img-wrap">
				<img src="https://via.placeholder.com/920x500" alt="">
			</div>
			<div class="text">
				@Html.Raw(Model.Full)
			</div>
		</div>
	</div>
</div>
@await Component.InvokeAsync("NewsletterBox")