@{
	/*
	@{
		Layout = "_ColumnsOne";

		//page class
		Html.AppendPageCssClassParts("html-home-page");
	}
	<div class="page home-page">
		<div class="page-body">
			@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageTop })
			@await Component.InvokeAsync("TopicBlock", new { systemName = "HomePageText" })
			@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeCategories })
			@await Component.InvokeAsync("HomepageCategories")
			@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeProducts })
			@await Component.InvokeAsync("HomepageProducts")
			@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeBestSellers })
			@await Component.InvokeAsync("HomepageBestSellers")
			@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeNews })
			@await Component.InvokeAsync("HomepageNews")
			@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforePoll })
			@await Component.InvokeAsync("HomepagePolls")
			@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBottom })
		</div>
	</div>
	*/
}

@{
	Layout = "_ColumnsOne";
	ViewData["class"] = "wrap";
}
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageTop })
<div class="big-links-wrap d-none d-md-block">
	<div>
		<a href="/sales"></a>
		<img src="/img/banner1.png" alt="banner1">
		<div>Распродажа</div>
	</div>
	<div>
		<a href="/delivery"></a>
		<img src="/img/banner2.png" alt="banner2">
		<div>Доставка</div>
	</div>
	<div>
		<a href="/ourstores"></a>
		<img src="/img/banner3.png" alt="banner3">
		<div>Салоны</div>
	</div>
</div>
<!--***************Топ продаж***************-->
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeBestSellers })
@await Component.InvokeAsync("HomepageBestSellers")
<!--***************Новинки***************-->
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeBestSellers })
@await Component.InvokeAsync("HomepageNewProducts")
<!--***************Новости***************-->
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeNews })
@await Component.InvokeAsync("HomepageNews")
<div class="some-info d-none d-md-block">
	<div class="title text-center">
		<h3 class="">Лучшие товары для сна</h3>
	</div>
		<div class="row text-left">
			<div class="col-lg-6">
				<div class="text">
					Компания «Вегас» — крупнейший белорусский производитель матрасов и аксессуаров
					для сна — на протяжении многих лет предлагает своим покупателям продукт, в котором
					воплотились самые яркие мечты об исключительном отдыхе. Внимание к традициям и
					ультрасовременные технологии позволяют компании производить матрасы высочайшего качества.
					Обладая великолепными ортопедическими свойствами, они дарят вам глубокий, спокойный сон и
					быстро восстанавливают силы.
					За долгий срок своего существования компания «Вегас» прошла славный путь от небольшого
					производства, использующего только ручной труд, до крупного промышленного предприятия,
					располагающего самым современным оборудованием.
				</div>
			</div>
			<div class="col-lg-6">
				<div class="text">
					Коллекции матрасов Vegas призваны в мельчайших нюансах соответствовать вашему
					стилю жизни — каким бы он ни был. Вы можете следовать четкому распорядку дня и вставать в 6
					утра по звонку будильника. А может быть,
					не упускаете возможности поваляться в постели столько, сколько захочется. Перед тем, как
					погрузиться в сон, вы совершаете целый ритуал. Или мгновенно засыпаете, едва коснувшись
					уютной поверхности матраса. Может быть, закрывая глаза, вы мечтаете о солнечном утре. Или
					предвкушаете очередное невероятное приключение, которое ожидает вас во сне. Мы знаем одно —
					вы тоже верите в то, что жизнь может быть яркой не только при свете солнца!
				</div>
			</div>

		</div>
	</div>
@await Component.InvokeAsync("NewsletterBox")
