$aside_colors: (#d6eaf1, #cce5ed, #c2e0ea, #b8dbe7, #aed6e3, #a3d1df, #99cbdc, #90c6d9, #85c1d5, #7bbcd1, #71b1ce);
$i: 0;
.all-menu-wrap {
  .side-menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 318px;
    background: white;
    padding-top: 65px;
    @include box-shadow(0 0 15px 1px rgba(0, 0, 0, 0.2));
    @include transition(0.1s);
    z-index: 20;
    img {
      width: 30px;
    }
    .logo {
      border-bottom: 1px solid $border_color;
      img {
        padding: 10px 69px 10px 30px;
        width: 100%;
      }
    }
    .inner-menu-wrap {
      img {
        margin-left: 5px;
        margin-right: 15px;
      }
      .search-wrap {
        margin-bottom: 20px;
        > img {
          width: 23px;
          margin-left: 20px;
        }
        input {
          border: transparent;
          font-size: 14px;
          outline: none;
          margin: 23px 0 0 30px;
        }
      }
      ul {
        li {
          position: relative;
          @each $color in $aside_colors {
            $i: $i+1;
            &:nth-child(#{$i}) {
              &:hover {
                background-color: $color;
                .hint {
                  background-color: $color;
                }
              }
              &.active{
                background-color: $color;
              }
            }
          }
          a {
            display: block;
            padding: 10px;
            font-weight: 600;
            @include transition(0.2s);
            &:hover {
              text-decoration: none;
              color: $link_color;
              /*background-color: #bfdce6;*/
              .hint {
                width: 250px;
                @include transition(0.5s);
              }
            }
          }
          .hint {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 65px;
            width: 0;
            padding: 11px 0;
            overflow: hidden;
            span {
              display: inline-block;
              margin-left: 20px;
              width: 300px;
            }
            &:after {
              display: block;
              content: "";
              width: 7px;
              height: 7px;
              border-right: 2px solid black;
              border-bottom: 2px solid black;
              right: -217px;
              top: -12px;
              position: relative;
              @include transform(rotate(-45deg));
            }
          }
        }
      }
      .sub-menu{
        display: none;
      }
    }
    .side-logo-wrap{
      margin-top: -65px;
    }
  }

  .side-second-menu-wrap {
    padding-left: 318px;
    overflow: hidden;
    margin-top: -70px;
    @extend .side-menu-wrap;
    width: 290px;
    z-index: 15;
    &.open{
      width: 700px;
    }
    .close-i{
      float: right;
      margin: 40px 29px 20px 15px;
    }
    .title{
      float: left;
      margin: 25px 29px 83px 15px;
      font-size: 24px;
    }
    .sub-menu{
      ul{
        li{
          &:hover{
            background-color: white;
          }
          a{
            font-weight: 600;
            display: block;
            padding: 14px 14px 14px 60px;
            @include transition(0.2s);
          }
        }
      }
    }
  }
}

.short-menu{
  .side-logo-wrap{
    display: none;
  }
  .content-main-wrap {
    position: relative;
    //margin-left: -4px;
    //width: calc(100% + 4px);
  }
  .side-menu-wrap {
    width: 65px;
    &.open{
      width: 300px;
      ul li {
        width: 300px;
        span{
          opacity: 1;
        }
      }
    }
    .search-wrap{
      margin-top: -40px;
      input{
        display: none!important;
      }
      > img{
        margin-left: 20px!important;
      }
    }
    ul{
      li{
        width: 65px;
        padding-left: 5px;
        overflow: hidden;
        @include transition(0.4s);
        a{
          width: 300px;
          span{
            opacity: 0;
          }
        }
        &:hover{
          width: 300px;
          span{
            opacity: 1;
          }
        }
      }
    }
  }

  .side-second-menu-wrap{
    padding-left: 0;
    width: 65px;
    &.open{
      width: 700px!important;
      padding-left: 300px;
    }
    ul li{
      width: 100%!important;
    }
  }
  .subscription-wrap{
    margin: 50px -15px 0 -20%;

  }
}


@media (max-width: 1199px) {

}































