.side-menu-wrap {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 318px;
  @include box-shadow(0 0 15px 1px rgba(0, 0, 0, 0.4));
  @include transition(0.5s);
  background-color: white;
  .logo {
    border-bottom: 1px solid $border_color;
    img {
      padding: 10px 69px 10px 30px;
    }
  }
}

.inner-menu-wrap{
  img {
    margin-left: 25px;
    margin-right: 15px;
  }
  .side-icons-search {
    width: 23px;
  }
  .search-wrap img {
    margin-left: 40px;
  }
  .side-icons {
    width: 30px;
  }
  .search-wrap input {
    border: transparent;
    font-size: 14px;
    outline: none;
    margin: 23px 0 0 30px;
  }
  $aside_colors: (#d6eaf1,#cce5ed,#c2e0ea,#b8dbe7,#aed6e3,#a3d1df,#99cbdc,#90c6d9,#85c1d5,#7bbcd1,#71b1ce);
  $i:0;
  ul {
    width: 318px;
    overflow: hidden;
    li {
      position: relative;
      @each $color in $aside_colors {
        $i: $i+1;
        @if $i == 1{
          &:nth-child(#{$i}){
            padding-top: 20px;
            .hint{
              top: 20px;
            }
            a:hover {
              background-color: $color;
            }
          }
      }@else{
          &:nth-child(#{$i}){
            a{
              &:hover{
                background-color: $color;
                .hint{
                  background-color: $color;
                }
              }
            }
          }
        }
      }
      a {
        display: block;
        padding: 10px;
        @include transition(0.4s);
        &:hover {
          text-decoration: none;
          color: $link_color;
          background-color: #bfdce6;
          .hint{
            width: 300px;
            @include transition(0.5s);
          }
        }
      }
      .hint{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 65px;
        background-color: #cce5ed;
        width: 0;
        padding: 11px 0;
        font-weight: 600;
        overflow: hidden;
        span{
          display: inline-block;
          margin-left: 20px;
          width: 300px;
        }
        &:after{
          display: block;
          content: "";
          width: 7px;
          height: 7px;
          border-right: 2px solid black;
          border-bottom: 2px solid black;
          right: -217px;
          top: -12px;
          position: relative;
          @include transform(rotate(-45deg));
        }
      }
    }
  }
}
.side-second-menu-wrap{
  @extend .side-menu-wrap;
  left: -15px;
  background-color: $background-color;
  z-index: 19;
}
.all-menu-wrap{
  z-index: 25;
  &:hover{
    .side-second-menu-wrap{
      left: 25px;
    }
  }
}
.short-menu{
  z-index: 20;
  .content-main-wrap {
    position: relative;
    margin-left: 65px;
    width: calc(100% - 65px);
  }
  .inner-menu-wrap ul {
    width: 70px;
    overflow: hidden;
  }
  .side-second-menu-wrap{
    left: 15px;
  }
  .side-menu-wrap {
    width: 65px;
  }
  .inner-menu-wrap img {
    margin-left: 8px;
  }
  .search-wrap img {
    margin-left: 23px;
    margin-top: 15px;
  }
  .inner-menu-wrap ul li a {
    width: 65px;
  }
  .breadcrumb {
    background-color: transparent;
    font-size: 12px;
    margin-left: 35px;
  }
  .side-logo-wrap .logo, .search-wrap input, .inner-menu-wrap li span {
    display: none !important;
  }
}
@media (max-width: 1199px) {

}































