.cart-popup-wrap{
  overflow-y: scroll;
  overflow-x: hidden;
  border-left: 1px solid $bc_light;
  @extend .cart;
  //display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background-color: white;
  z-index: 1055;
  @include transition(0.3s);
  &.open{
    width: 500px;
  }
  .order-wrapp{
    @include box-shadow(none);
    width: inherit;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 15px;
    width: max-content;
    .item.active {
      border: none;
    }
    .title-wrap{
      margin-left: 20px;
      h1{
        float: left;
      }
      i{
        width: 20px;
        height: 20px;
        float: right;
        &.close-i{
           margin: 7px 0 0
        }
        &.shopping_bag_icon{
          margin: 7px 65px 0 0
        }
      }
    }
    .total-wrap{
      margin: -20px -55px 0;
      padding: 40px 100px;
    }
  }
  .similar-wrap{
    font-size: 16px;
  }
  .item-wrap{
    width: 148px;
    height: auto;
    float: left;
    padding: 5px 5px 15px 5px;
    margin: 5px 5px 0 5px;
    @include transition(0.5);
    img{
      width: 100%;
      margin-top: 0;
      height: auto;
    }
    .product-name{
      font-size: 12px;
    }
    .product-prop{}
    font-size: 14px;
    &:hover{
      @include box-shadow( 0 0 15px 1px rgba(0, 0, 0, 0.2));
    }
  }
  .price-titile{
    font-size: 12px!important;
  }
  .price-old{
    font-size: 12px!important;
    
  }
  .price-new{
    font-size: 16px!important;
  }
  a{
    display: block;
  }
  .item-wrap .product-img-wrap .discount{
    bottom: 3px;
    right: 5px;
    width: 40px;
    height: 40px;
    line-height: 3.3;
    font-size: 12px;

  }
  .title{
    font-weight: 600;
    margin-left: 20px;
  }
}