.cart{
  &.wrap{
    height: 100%;
  }
  .content{
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 250px;
    margin-left: 0;
    width: 100%;
  }
  nav.breadcrumb-wrap .breadcrumb {
    margin-left: 130px;
  }



















  footer {
    height: 250px;
    margin-top: -250px;
  }

}