.cat{
  .f1{
  float: left;
    button{
      position: relative;
      &:after{
        top: 40%;
        right: 15px;

      }
    }
  }
  .f2 button{
    position: relative;
    &:first-child:after{
      top: 40%;
      left: 160px;

    }
    &:last-child:after{
      top: 40%;
      left: 140px;
    }
  }
  .filters-data input:not([type*='checkbox']){
    width: 67px;
    margin: 0 8px;
    font-size: 14px;
  }
  button.vg-filter.open:after{
    @include transform(rotate(-135deg));
  }
  .filters-wrap{
    .dropdown-menu{
      width: 250px;
    }
  }
  .mobile-f{
    .dropdown-menu{
      width: 50vw;
    }
    .check-fly input:checked + label + label {
      font-size: 12px;
    }
    .check-fly input + label + label {
      font-size: 12px;
    }
  }
  .description{
    margin-left: 20px;
    ul{
      margin: 1em;
      padding-inline-start: 40px;
      li{
        list-style: disc;
      }
    }
  }
  .keep_open{
    ul{
      margin-left: 30px;
      li{
        cursor: pointer;
        &.group{
          list-style: disc;
          font-weight: 600;
        }
        ul{
          margin-left: 15px;
         }
      } 
    } 
  }
}
.filter-title{
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
}