.commets-wrap {
    .commets-block {
        margin-top: 30px;
    }
    .diagram-wrapp {
        font-size: 16px;
        font-weight: 800;
        .total-diagram {
            .item-wrapp {
                margin-bottom: 15px;
                div {
                    display: inline-block;
                }
                .item-line-wrapp {
                    position: relative;
                    width: 50%;
                    float: right;
                    height: 24px;
                    vertical-align: middle;
                    .item-line {
                        text-align: center;
                        &:first-child {
                            position: absolute;
                            background-color: #dbdbdb;
                            height: 100%;
                        }
                        &:nth-child(2) {
                            display: block;
                            position: absolute;
                            width: 0;
                            height: 100%;
                            background-color: #8cc34c;
                            left: 0;
                        }
                        &:last-child {
                            display: block;
                            position: absolute;
                            width: 0;
                            height: 100%;
                            background-color: #e33840;
                            right: 0;
                        }
                    }
                }
            }
        }
        .total-rate {
            .item-wrapp {
                margin-bottom: 15px;
            }
        }
    }
    .filters-wrap {
        margin-left: -15px;
        .f2 {
            button:first-child {
                width: 215px;
                &:after {
                    left: 195px !important;
                    top: 40%;
                }
            }
        }
    }
    .form-check {
        padding-left: 0;
    }
    .filters-wrap .dropdown-menu {
        width: 250px;
    }
    .comment-items {
        margin-top: 60px;
        li{
            margin-bottom: 60px;
        }
        .info-wrap {
            margin-right: 90px;
            .no-avatar {
                margin-right: 20px;
            }
            .info {
                .date {
                    margin-bottom: 15px;
                }
                .btn-link {
                    font-size: 16px;
                    &:hover,
                    &:focus {
                        color: #2c96b9;
                        text-decoration: none;
                    }
                }
                .dropdown-menu {
                    font-size: 14px;
                }
                .dropdown-toggle{
                    &::after {
                        vertical-align: sub;
                        content: '';
                        border-top: .3em transparent;
                    }
                    &.pen::after {
                        content: url(/img/pen.png);
                    }
                }
            }
        }
        ul {
            margin-top: 15px;
            li {
                ul {
                    margin-left: 120px;
                    .info-wrap {
                        margin-right: 30px;
                    }
                }
            }
        }
    }
    .user-rate-items {
        font-size: 16px;
        font-weight: 800;
        margin-top: 15px;
        display: none;
        .user-rate-item,
        div {
            display: inline-block;
        }
    }
    .sprite-smile {
        width: 40px;
        height: 41px;
        background: url(/img/sprite_smile_.png) no-repeat;
        vertical-align: middle;
        margin-left: 5px;
        margin-right: 25px;
        &.angry {
            background-position: 0 0;
        }
        &.sad {
            background-position: -40px 0;
        }
        &.netral {
            background-position: -80px 0;
        }
        &.good {
            background-position: -120px 0;
        }
        &.perfect {
            background-position: -160px 0;
        }
    }
    .form-block{
        overflow: hidden;
        display: none;
    }
    .line{
        display: none;
    }
    .form-wrap {
        font-size: 16px;
        font-weight: 800;
        padding: 15px 60px 60px;
        .title{
            margin-bottom: 30px;
        }
        .rate-rating {
            div {
                display: inline-block;
                vertical-align: bottom;
            }
            .name-description{
                float: left;
            }
            .rating-wrapper{
                float: right;
            }
        }
    }
    /*sprite with stars*/
    #reviewSmile-input input:checked~label,
    #reviewSmile-input label,
    #reviewSmile-input label:hover,
    #reviewSmile-input label:hover~label {
        background: url(/img/sprite_smile_.png); // mask-image: url('/img/star_fill.svg');
        // -webkit-mask-image: url('/img/star_fill.svg');
        // background-color: gray;
    }
    #reviewSmile-input {
        /*fix floating problems*/
        zoom: 1;
        /*end of fix floating problems*/
        position: relative;
        float: left;
    }
    #reviewSmile-input input {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        height: 41px;
        width: 50px;
        position: absolute;
        top: 0;
        z-index: 0;
    }
    #reviewSmile-input label {
        height: 41px;
        width: 40px;
        float: right;
        cursor: pointer;
        margin-right: 20px;
        position: relative;
        z-index: 1;
    }
    #reviewSmile-input label:hover,
    #reviewSmile-input label:hover~label {
        //background-color: #ff9c32;
        height: 41px;
        width: 40px;
    }
    #reviewSmile-input #smile-0 {
        left: 0;
    }
    #reviewSmile-input {
        label[for*="smile-0"] {
            background-position: 0 -40px;
        }
        label[for*="smile-1"] {
            background-position: -40px -40px;
        }
        label[for*="smile-2"] {
            background-position: -80px -40px;
        }
        label[for*="smile-3"] {
            background-position: -120px -40px;
        }
        label[for*="smile-4"] {
            background-position: -160px -40px;
        }
    }
    #reviewSmile-input {
        label[for*="smile-0"]:hover {
            background-position: 0 0;
        }
        label[for*="smile-1"]:hover {
            background-position: -40px 0;
        }
        label[for*="smile-2"]:hover {
            background-position: -80px 0;
        }
        label[for*="smile-2"]:hover+input+label {
            background-position: -40px 0;
        }
        label[for*="smile-3"]:hover {
            background-position: -120px 0;
            &+input+label {
                background-position: -80px 0;
            }
            &+input+label+input+label {
                background-position: -40px 0;
            }
        }
        label[for*="smile-4"]:hover {
            background-position: -160px 0;
            &+input+label {
                background-position: -120px 0;
            }
            &+input+label+input+label {
                background-position: -80px 0;
            }
            &+input+label+input+label+input+label {
                background-position: -40px 0;
            }
        }
    }
    #reviewSmile-input input:checked~label {
        //background-color: #ff9c32;
        height: 41px;
        width: 40px;
    }
    #reviewSmile-input {
        input[id*="smile-1"]:checked+label {
            background-position: -40px 0;
        }
        input[id*="smile-2"]:checked+label {
            background-position: -80px 0;
            &+input+label {
                background-position: -40px 0;
            }
        }
        input[id*="smile-3"]:checked+label {
            background-position: -120px 0;
            &+input+label {
                background-position: -80px 0;
            }
            &+input+label+input+label {
                background-position: -40px 0;
            }
        }
        input[id*="smile-4"]:checked+label {
            background-position: -160px 0;
            &+input+label {
                background-position: -120px 0;
            }
            &+input+label+input+label {
                background-position: -80px 0;
            }
            &+input+label+input+label+input+label {
                background-position: -40px 0;
            }
        }
    }
    #reviewSmile-input {
        #smile-1 {
            left: 53px;
        }
        #smile-2 {
            left: 106px;
        }
        #smile-3 {
            left: 159px;
        }
        #smile-4 {
            left: 212px;
        }
        #smile-5 {
            left: 265px;
        }
    }
    .check-fly input:checked + label + .green {
        color: #8cc34c;
    }
    .check-fly input:checked + label + .red {
        color: #e33840;
    }
    .check-fly input:checked + label + .grey {
        color: #a7a5a5;
    }
}

.green {
    color: #8cc34c;
}
.red {
    color: #e33840;
}
.grey {
    color: #a7a5a5;
}