@import "compass/css3";
@import "font";
@import "var";
@import "ui";
@import "header";
@import "aside";
@import "cat";

.main-baner-wrap {
  overflow: hidden;
  position: relative;
  a{
    display: block;
  }
  img {
    width: 100%;
  }
  &:hover .baner-prev-arrow{
    opacity: 1;
  }

}

.icons-wrap {
  float: right;
  img {
    height: 24px;
  }
}
.big-links-wrap {
  height: 229px;
  div {
    position: relative;
    float: left;
    width: calc(100%/3);
    text-align: center;
    border-bottom: 1px solid #d9dee0;
    transition: 1s;
    height: 230px;
    &:nth-child(2) {
      border-left: 1px solid #d9dee0;
      border-right: 1px solid #d9dee0;
    }
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    &:hover {
      background-color: #f7f7f7;
    }
    a {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
    div{
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 15px;
      border-bottom: none;
      height: 30px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
.pad-norm {
  padding-top: 65px;
}

.slider-wrap {
  margin-left: 60px;
  &:hover .baner-prev-arrow{
    opacity: 1;
  }
  .baner-prev-arrow{
    top: 0;
    height: 100%;
  }
}

.outer-wrapp.scroll .item-wrap-full{
  opacity: 1!important;
  display: none;
  z-index: 50;
}

.item-wrap-full {
  top: 0;
  position: absolute;
  width: 268px;
  padding: 0 20px;
  @include box-shadow(0 3px 16px 1px rgba(0, 0, 0, 0.5));
  @include border-radius(5px);
  background-color: white;
  opacity: 0;
  z-index: -1;
  /*меняем тут*/
  i {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-style: normal;
    cursor: pointer;
  }
  .favorite_i {
    top: 20px;
  }
  .compare_icon {
    right: 20px;
    top: 20px;
  }
}
.bx-wrapper{
  min-width: 100%;
}

.item-wrap {
  width: 268px;
  height: 350px;

  padding: 0 20px;
  span img {
    width: 20px;
  }
  img.product {
    width: 228px;
    height: 215px;
    margin-top: 25px;
  }
}

.item-wrap-full img.product {
  width: 228px;
  height: 215px;
  margin-top: 25px;
}

.item-wrap .product-img-wrap {
  position: relative;
}

.item-wrap .product-img-wrap .discount {
  bottom: 15px;
  right: 15px;
}

.item-wrap-full .product-img-wrap .discount {
  bottom: 15px;
  right: 15px;
  top: 175px;
  right: 35px;
}

.item-wrap .main-prop-wrap .price-titile, .item-wrap-full .main-prop-wrap .price-titile {
  margin-top: 15px;
  font-size: 14px;
}

.item-wrap .main-prop-wrap .price-old, .item-wrap-full .main-prop-wrap .price-old {
  margin-top: 5px;
  color: $text_light;
  font-size: 14px;
  text-decoration: line-through;
  margin-right: 20px;
}

.item-wrap .main-prop-wrap .price-new, .item-wrap-full .main-prop-wrap .price-new {
  margin-top: 5px;
  font-size: 22px;
  line-height: 0.9;
}

.items .item-wrap-full, .item-wrap-full{
  &:hover{
    opacity: 1;
  }
}

.items .outer-wrapp:not(.scroll), .outer-wrapp:not(.scroll){
  position: relative;
  &:hover .item-wrap-full{
    opacity: 1;
    z-index: 10;

  }
}


.slider-wrap{
  .outer-wrapp {
    position: static;
    margin-right: 20px;
  }
  .item-wrap-full{
    display: none;
  }
}


.item-wrap-full {
  .sizes-wrap {
    > .title {
      font-size: 14px;
      margin-top: 15px;
    }
    .block {
      &:first-of-type {
        margin-left: 0;
      }
      margin-top: 5px;
      margin-left: 30px;
    }
    .inner-wrap {
      .title {
        font-size: 12px;
        color: $text_light;
      }
      .value {
        font-size: 14px;
      }
    }
  }
  button {
    margin: 20px 0;
  }
}


.news-wrap {
  margin-bottom: 50px;
  padding-left: 20px;
  .item-wrap {
    margin-right: 30px;
    border: 1px solid #d9dee0;
    border-radius: 5px;
    width: 288px;
    height: 360px;
    overflow: hidden;
    float: left;
    padding: 0;
    .text-wrap {
      padding: 20px 20px 25px 20px;
    }
  }
  .title {
    a {
      color: $link_color;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .short-text {
    color: $text_light;
    font-size: 14px;
  }
}

.sell-wrap, .new-wrap, .news-wrap, .see-wrap, .product-content-wrap {
  border-bottom: 1px solid $border_color;
  padding-bottom: 41px;
}

.news-wrap{
  .title{
    margin-bottom: 30px;
  }
}


.cat-content-wrap {
  border-bottom: 1px solid $border_color;
}

.sell-wrap .btn-blue-white, .new-wrap .btn-blue-white, .news-wrap .btn-blue-white, .see-wrap .btn-blue-white, .cat-content-wrap .btn-blue-white, .see-wrap .btn-blue-white {
  margin-right: 200px;
}

.some-info {
  margin-bottom: 85px;
  .text {
    color: $text_light;
    font-size: 14px;
    margin: 0 50px;
  }
  .title{
    margin-bottom: 30px;
  }
}

.subscription-wrap {
  background-color: #bfdce6;
  padding-top: 40px;
  padding-bottom: 40px;
  //margin: 50px 0px 0 -20%;

  .inner-wrap {
    //margin-left: 30%;
  }
  label {
    font-size: 18px;
    font-weight: 600;
    margin-right: 30px;
  }
  input {
    width: 250px;
    background-color: #bfdce6;
    border: 1px solid $text_light;
    border-radius: 5px;
    height: 32px;
    padding-left: 15px;
    + button {
      margin-left: -10px;
    }
    +.btn-sm{
      line-height: 1.3;

    }
  }
}

footer {
  padding: 50px 40px 15px 40px;
}

.footer-wrap {
  img {
    width: 180px;
    height: 45px;
    margin-bottom: 30px;
  }
  .phone-footer-wrap {
    font-size: 12px;
    .phone {
      font-size: 24px;
      color: #2c96b9;
    }
  }
  h6 {
    font-weight: 600;
    color: $link_color;
  }
}

footer a {
  font-size: 14px;
  color: $text_light;
  &:hover {
    color: #575757;
  }
}

.footer-wrap {
  .socials ul + h6, .pay ul + h6 {
    margin-top: 24px;
  }
}

.cop {
  font-size: 12px;
}

.top-wraper {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 80px;
  height: 40px;
  width: 40px;
  border: 1px solid $blue;
  border-radius: 30px;
  z-index: 50;
  a {
    display: block;
  }
  i.top {
    position: relative;
    &:after{
      position: absolute;
      top: 15px;
      left: 11px;
      display: block;
      content: '';
      width: 15px;
      height: 15px;
      border-left: 1px solid $bluish ;
      border-bottom: 1px solid $bluish ;
      @include transform(rotate(135deg));
    }
  }
}

.baner-info-wrap {
  position: absolute;
  top: 70%;
  width: 450px;
  font-size: 30px;
  font-weight: 600;
  margin-left: 50px;
  .discount {
    position: absolute;
    top: -35px;
    right: 63px;
    background: #ff9b35;
    color: white;
    padding: 10px;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    line-height: 2.2;
  }
}

.filters-wrap {
  background-color: #bfdce6;
  .f1 {
    padding: 15px 30px;
    -webkit-box-shadow: 8px 0px 25px -8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 8px 0px 25px -8px rgba(0, 0, 0, 0.2);
    box-shadow: 8px 0px 25px -8px rgba(0, 0, 0, 0.2);
  }
}

.f1.open {
  background-color: white;
}

.filters-wrap .f2 {
  padding: 15px 30px;
}

.vg-filter {
  color: black;
  width: 230px;
  border-color: black;
  text-align: left;
  padding-left: 20px;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active {
  color: black;
  background-color: transparent;
  border-color: black;
  &:focus {
    @include box-shadow(none)
  }
}

button.vg-filter:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-bottom: 1px solid;
  border-right: 1px solid;
  position: relative;
  top: -2px;
  right: -54px;
  @include transform(rotate(45deg));
  @include transition(all 0.25s ease 0s);
}

.filters-wrap .f2 button {
  &:first-child {
    margin-right: 15px;
    width: 190px;
  }
  &:last-child {
    margin-right: 15px;
    width: 165px;
  }
  &.vg-filter {
    &:first-child:after {
      right: -25px;
    }
    &:last-child:after {
      right: -38px;
    }
  }
}

.btn-outline-secondary:focus {
  @include box-shadow(none)
}

.vg-filter:hover {
  background-color: transparent;
  color: #575757;
}

small {
  color: $text_light;
}

.more-wrapp {
  display: inline-block;
  padding: 40px 0 0 0;
  text-align: center;
  width: 100%;
  button {
    margin-right: 0;
    margin-left: 320px;
  }
  nav {
    margin-right: 200px;
  }
}

.page-link {
  padding-top: 5px;
  padding-bottom: 5px;
  color: $text_light;
  &:hover {
    color: $text_light;
  }
}

.cat .some-info .text {
  margin-top: 50px;
}

.cat-content-wrap .title h3 {
  margin-left: 0;
}

.filters-data {
  display: inline-block;
  width: 0px;
  border-right: 1px solid #d9dee0;
  overflow: hidden;
  margin-bottom: -5px;
  height: 0px;
  &.open {
    width: 290px;
    height: auto;
  }
  .inner-wrap {
    padding: 20px 30px;
    border-bottom: 1px solid #d9dee0;
  }
  .title {
    margin-bottom: 15px;
    font-weight: 600;
    width: 100px;
  }
}

/*.form-inline .form-control {
  width: 70px;
  margin: 0 15px;
  padding: 4px 10px;
  font-size: 14px;
  color: $text_light;
}*/

.filters-data {
  .form-group {
    margin-bottom: 20px;
  }
  .inner-wrap:last-child {
    border-bottom: none;
  }
}

.ui-widget.ui-widget-content {
  border: none;
}

.ui-widget-header {
  background: #bfdce6;
  color: $link_color;
}

.ui-slider-horizontal {
  height: .4em;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button {
  border: 7px solid #2c96b9;
  background: #bfdce6;
  font-weight: normal;
  color: #454545;
  border-radius: 10px;
}

html .ui-button.ui-state-disabled {
  &:hover, &:active {
    border: 7px solid #2c96b9;
    background: #bfdce6;
    font-weight: normal;
    color: #454545;
    border-radius: 10px;
  }
}

.ui-state-default, .ui-widget-content .ui-state-default:focus {
  outline: none;
}

.ui-slider-horizontal .ui-slider-range {
  top: 2px;
}

.btn-link {
  font-weight: 400;
  color: #2c96b9;
  text-decoration: none;
  font-size: 12px;
  &:hover {
    color: #2c96b9;
    text-decoration: underline;
  }
}

/*################Produkt#################
##########################################*/

.prod-wrap {
  display: inline-block;
  width: calc(100% - 5px);
  &.short {
    width: calc(100% - 320px);
  }
}

.product {
  .left-wrap {
    margin-left: 100px;
    width: 800px;
  }
  .icons-wrap {
    .delivery, .star {
      vertical-align: middle;
    }
  }
}

.product-content-wrap .icons-wrap {
  display: inline-block;
  float: none;
}

.product .icons-wrap {
  i.star {
    width: 14px;
    height: 13px;
    margin-right: 2px;
  }
  small {
    vertical-align: -2px;
  }
}


.star {
  -webkit-mask-image: url(/img/star_fill.svg);
  mask-image: url(/img/star_fill.svg);
  background-color: #ff9c32;
}

.product .slider {
  width: 612px;
  float: left;
}

:focus {
  outline: none;
}

.product-content-wrap {
  .icons-wrap {
    margin-right: 115px;
  }
  .tabs-wraper {
    min-height: 400px;
  }
  .title h3 {
    margin-left: 0;
    display: block;
  }
}
.price-wrap div{
  display: inline-block;
}
.product {
  .icons-wrap a {
    color: #2c96b9;
  }
  .opt-wrap {
    margin-left: 30px;
    width: 266px;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.53);
    border-radius: 3px;
    padding: 25px 30px;
    position: relative;
  }

    .price {
      font-size: 22px;
    .price-old {
      color: $text_light;
      line-height: 1;
    }
    .price-wrap a {
      color: #2c96b9;
      font-size: 12px;
      text-decoration: underline;
    }
    .icons-wrap {
      margin-right: 0;
      color: $text_light;
      &.d-block i {
        width: 20px;
        height: 20px;
        vertical-align: bottom;
        opacity: 0.7;
      }
    }
  }
}

.line {
  border-bottom: 1px solid #d9dee0;
  margin: 20px -30px;
}

.product .opt-wrap .drop-wrap {
  position: relative;
  font-size: 12px;
  color: $text_light;
  .w {
    position: absolute;
    top: 5px;
    left: 2px;
    z-index: 5;
  }
  .h {
    position: absolute;
    top: 5px;
    left: 78px;
    z-index: 5;
  }
}

.size-prop-wrap .dropdown .btn {
  padding-left: 0;
  margin-left: -2px;
}

.color-title span:nth-child(2) {
  display: inline-block;
  float: right;
  a {
    font-size: 12px;
    color: $text_light;
    text-decoration: underline;
  }
}

.color-select .box-color {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: black;
  vertical-align: middle;
}

.opt-wrap {
  .form-check {
    font-size: 12px;
    color: $text_light;
  }
  input {
    display: inline-block;
    margin-top: .1rem;
  }
}

.over-price {
  color: #2c96b9;
}

.opt-wrap.fix-on {
  position: fixed;
  width: 266px;
  top: 20px;
  z-index: 5;
  background: white;

}

.price-wrap .discount {
  top: 30px;
  right: 40px;
  width: 70px;
  height: 70px;
  @include border-radius(35px);
  font-size: 18px;
  line-height: 3.7;
}

.nav-tabs .nav-link {
  border-color: $border_color;
  margin: 0 5px;
  &.active {
    color: white;
    background-color: $text_light;
  }
}

.tab-content {
  border: solid 1px $border_color;
  border-top: transparent;
  padding: 35px 30px;
}
.nav-tabs .nav-item {
  position: relative; }
.nav-tabs .nav-link {
  border-color: #cdd2d4;
  margin: 0 5px; }
.nav-tabs .nav-link.active {
  color: white;
  background-color: #767c7e; }

.nav-link {
  display: block;
  padding: .4rem 2rem; }

.tab-content {
  border: solid 1px #cdd2d4;
  border-top: transparent;
  padding: 35px 30px; }
.bg {
  position: absolute;
  background-color: #767c7e;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  color: white;
  width: 19px;
  height: 19px;
  font-size: 12px;
  text-align: center;
  top: 9px;
  right: 12px; }
.login-form-wrap{
  display: none;
  position: absolute;
  width: 500px;
  height: 500px;
  top: 75px;
  right: 1px;
  background-color: white;
  z-index: 1055;
  padding: 30px;
  i{
    width: 20px;
    height: 20px;
    &.close-i{
      float: right;
      margin: 0px 20px 0px 0px;
      vertical-align: bottom;
    }
  }
  .btn-link{
    margin-top: -2px;
  }
  .btn-blue-white{
    margin-top: 10px;
  }
  h5{
    margin-bottom: 60px;
  }
}

#arived{
  img{
    width: 110px;
  }
  .item{
    .title{
      color: $text_light;
    }
    > div{
      display: inline-block;
      vertical-align: middle;
    }
  }
}

@import "cart";
@import "compare";
@import "sales";
@import "favorite";
@import "seen";
@import "cart_pop_up";
@import "news";
@import "prod";
@import "map";
@import "cabinet";
@import "carusel";
@import "media_1199";
@import "media_992";
@import "media_765";
@import "media_575";



