@media (max-width: 575px) {
  .product .see-wrap{
    height: 500px;
    .btn-blue-white {
      margin: 0 auto;
    }
  }
  .content .title button {
    bottom: -1130px;
  }
  .content .see-wrap .title button {
    right: 0;
    left: 0;
    width: 120px;
    bottom: -400px;
  }

  .subscription-wrap.row {
    margin: 0 0 0 -14px;
  }

}