.seen-wrap{
  .compare_icon {
    float: right;
  }
  .favorite_i{
    width: 22px;
    height: 22px;
    margin: 19px 0px;
  }
    .compare_icon{
      width: 22px;
      height: 22px;
      float: right;
      margin: 19px 0px;
    }
}
