.check-blue{
  input{
    display: none;
    + label {
      position: relative;
      display: inline-block;
      width: 16px;
      height: 16px;
      background-color: white;
      border: 3px solid white;
      @include border-radius(15px);
      margin-left: 10px;
      vertical-align: text-top;
      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 20px;
        height: 20px;
        border: 1px solid $text_light;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        top: -5px;
        left: -5px;
      }
      + label {
        margin-left: 8px;
      }
    }
    &:checked + label {
      background-color: $bluish;
      + label{
        color: $bluish;
      }
      &:after {
        border: 1px solid $bluish;
      }
    }
  }
}

i{
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  &.close-i {
    -webkit-mask-image: url(/img/close.svg);
    mask-image: url(/img/close.svg);
    background-color: black;
    margin: 24px 0px 10px 5px;
  }
  &.compare_icon {
    background: url("/img/compare_icon.svg") no-repeat center;
  }
  &.user_icon {
    background: url("/img/user_icon.svg") no-repeat center;
  }
   span {
    position: absolute;
    top: 5px;
    left: 11px;
  }
}

.discount {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #ff9b35;
  @include border-radius(30px);
  line-height: 3.5;
  color: white;
  text-align: center;
}