$link_color:black;
$link_color_hover:#656565;
$text_light:#767c7e;
$border_color:#cdd2d4;
$bc_light:#d9dee0;
$blue:#4da2c1;
$background-color:#bfdce6;
$size-title:24px;
$size-main:14px;
$bluish:#2c96b9;