@model ProductDetailsModel.AddToCartModel
@using Nop.Core.Domain.Orders
@if (!Model.DisableWishlistButton)
{
	<div><i class="favorite_i mr-1" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new {productId = Model.ProductId, shoppingCartTypeId = (int) ShoppingCartType.Wishlist})', '#product-details-form');return false;"></i>@T("prod.addtowishlist")</div>
}