@model ProductDetailsModel
@{
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}
@if (Model.CompareProductsEnabled)
{
<div class="add-compare" onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;"><i data-ids="@Model.Id" class="compare_icon mr-1" style="cursor:pointer;"></i> @T("product.addtocompare")</div>
}