@model ProductDetailsModel
@{
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}
@if (Model.CompareProductsEnabled)
{
<div onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;"><i class="compare_icon mr-1" style="cursor:pointer;"></i> Добавить в сравнение</div>
}