@model IEnumerable<ProductOverviewModel>
@{
	Layout = "_ColumnsOne";
	ViewData["class"] = "wrap short-menu cat";
	ViewData["PageTitle"] = T("main.sales");
}
<nav class="breadcrumb-wrap">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Bed4you</a></li>
		<li class="breadcrumb-item active"><a href="#">@ViewData["PageTitle"]</a></li>
	</ol>
</nav>
<div class="cat-content-wrap">
	<div class="title text-center">
		<h3><b>@ViewData["PageTitle"]</b></h3>
		<p>
			<small>@Model.Count() @T("product.products")</small>
		</p>
	</div>
	<div class="clearfix">
		@if (Model.Count() > 0)
		{
			<div class="prod-wrap float-right" id="prods">
				@foreach (var product in Model)
				{
					@await Html.PartialAsync("_ProductBox", product)
				}
			</div>
		}
	</div>
</div>
@await Component.InvokeAsync("RecentlyViewedProducts", new { productThumbPictureSize = 250, preparePriceModel = true })