@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
<div class="title">@T("cart.suggestions")</div>
    @foreach (var product in Model)
    {
		@await Html.PartialAsync("_ProductBox", product)
    }
}