@{
	Layout = "_ColumnsOne";
}
@model CityMapModel

<nav class="breadcrumb-wrap" aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Bed4you</a></li>
		<li class="breadcrumb-item active"><a href="#">@Model.Name</a></li>
	</ol>
</nav>

<div class="row map">
	<div class="offset-xl-2 col-xl-8">
		<h1 class="title">Наши салоны</h1>
		@await Component.InvokeAsync("OurStoresMenu", new { active = Model.Name })
		<div class="map-wrap">
			<div id="map"></div>
			<div class="row img-wrap clearfix text-center">
				@foreach (var address in Model.Addresses)
				{
					<a href="/storeinfo?addressId=@address.Id">
						<div class="img col-lg-6">
							<img src="https://via.placeholder.com/540x320" alt="">
							<div class="text-wrap">
								<div><b>"Матрасы Vegas"</b></div>
								<div>@address.Address1</div>
								<div>пн-вс 10:00-20:00</div>
							</div>
						</div>
					</a>
				}
			</div>
		</div>
	</div>
</div>
