@{
    Layout = "_ColumnsTwo";
}
@model CityMapModel

<nav class="breadcrumb-wrap" aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Bed4you</a></li>
		<li class="breadcrumb-item active"><a href="#">@Model.Name</a></li>
	</ol>
</nav>

<div class="row map">
	<div class="offset-xl-2 col-xl-8">
		<h1 class="title">@T("ourstores.title")</h1>
		@await Component.InvokeAsync("OurStoresMenu", new { active = Model.Name })
		<div class="map-wrap">
			<div id="map"></div>
            <div class="row img-wrap clearfix text-center">

                @{
                    var addresses = new List<dynamic>();
                    foreach (var warehouse in Model.Warehouses)
                    {
                        addresses.Add(new
                        {
                            city = warehouse.City,
                            name = warehouse.Name,
                            addr = warehouse.StreetAddress,
                            phone = warehouse.Phone,
                            workTime = warehouse.WorkTime,
                            position = new
                            {
                                lat = warehouse.Latitude,
                                lng = warehouse.Longitude
                            },
                            zoom = 6
                        });
                        <div class="img col-lg-6">
                            <a href="/storeinfo?warehouseId=@warehouse?.Id">
                                <img src="@(warehouse?.Pictures?.FirstOrDefault(x => x.PictureUrl != null)?.PictureUrl ?? "/img/logo.png")" alt="">
                                <div class="text-wrap">
                                    <div>
                                        <b>@warehouse?.Name</b>
                                    </div>
                                    <div class="address" data-addr="@warehouse?.StreetAddress">@warehouse?.StreetAddress</div>
                                    <div>@warehouse?.WorkTime</div>
                                </div>
                            </a>
                        </div>
                    }
                }
                <span id="address" style="display:none!important;" data-address="@Newtonsoft.Json.JsonConvert.SerializeObject(addresses)"></span>
            </div>
		</div>
	</div>
</div>