@{
	Layout = "_ColumnsOne";
}
@using Nop.Web.Areas.Admin.Models.Shipping;
@model WarehouseInfoModel
<nav class="breadcrumb-wrap" aria-label="breadcrumb">
</nav>

<div class="row map">
	<div class="offset-xl-2 col-xl-8">
		<h1 class="title">Наши салоны</h1>
		@await Component.InvokeAsync("OurStoresMenu")
		<div class="map-wrap">
			<div id="map"></div>
		</div>
	</div>
</div>
