@{
    Layout = "_ColumnsOne";
}
@using Nop.Web.Areas.Admin.Models.Shipping;
@model WarehouseInfoModel
<nav class="breadcrumb-wrap" aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Bed4you</a></li>
		<li class="breadcrumb-item active">@T("map.ourstores")</li>
	</ol>
</nav>

<div class="row map">
	<div class="offset-xl-2 col-xl-8">
		<h1 class="title">@T("map.ourstores")</h1>
		@await Component.InvokeAsync("OurStoresMenu")
		<div class="map-wrap">
			<div id="map"></div>
		</div>
	</div>
</div>
@{
    var addresses = new List<dynamic>();
    foreach (var address in Model.Addresses)
    {
        var warehouse = Model.Warehouses.FirstOrDefault(x => x.AddressId == address.Id);
        var workTime = warehouse.AdminComment;
        var addr = address.Address1;
        var name = warehouse.Name;
        var phone = address.PhoneNumber;
        var city = address.City;

        addresses.Add(new
        {
            city,
            name,
            addr,
            phone,
            workTime,
            zoom = 6
        });
    }
}
<span id="address" style="display:none!important;" data-address="@Newtonsoft.Json.JsonConvert.SerializeObject(addresses)"></span>
<script>

</script>
