@model HeaderLinksModel
@using System.Text.Encodings.Web

<a href="/cart"><i class="favorit shopping_bag_icon"><span>@Model.ShoppingCartItems</span></i></a>
<a href="/wishlist"><i class="favorit favorite_i"><span>@Model.WishlistItems</span></i></a>
<i class="favorit call-from-site d-md-none"></i>
<a href="/compareproducts"><i class="favorit compare_icon d-none d-md-inline-block"></i></a>
<a href="/customer/info"><i class="favorit user_icon d-none d-md-inline-block"></i></a>

